<!--<%= form_for(@test_suite_run) do |f| %>
  <% if @test_suite_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_suite_run.errors.count, "error") %> prohibited this test_suite_run from being saved:</h2>

      <ul>
      <% @test_suite_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="field">
    <%= f.label :exercise_return_id %><br />
    <%= f.text_field :exercise_return_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
