<!--<h1>Listing test_suite_runs</h1>

<table>
  <tr>
    <th>Status</th>
    <th>Exercise return</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_suite_runs.each do |test_suite_run| %>
  <tr>
    <td><%= test_suite_run.status %></td>
    <td><%= test_suite_run.submission_id %></td>
    <td><%= link_to 'Show', test_suite_run %></td>
    <td><%= link_to 'Edit', edit_test_suite_run_path(test_suite_run) %></td>
    <td><%= link_to 'Destroy', test_suite_run, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test suite run', new_test_suite_run_path %>
-->
