
<% if current_user.administrator? and @course.spreadsheet_key %>
  <p><%= link_to 'Refresh Google Docs worksheet',
    refresh_gdocs_course_point_path(@course, @sheetname) %></p>
<% end %>

<table class="points">
  <thead>
    <tr>
      <th></th>
      <% @exercises.each do |exercise| %>
        <% points = exercise.available_points.sort! %>
        <% if points.size > 0 %>
          <th colspan="<%= points.size %>"><%= exercise.name %></th>
        <% end %>
      <% end %>
    </tr>
    <tr>
      <th></th>
      <% @exercises.each do |exercise| %>
        <% exercise.available_points.each do |point| %>
          <th><%= point.name %></th>
        <% end %>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% user_points = AwardedPoint.
          course_user_sheet_points(@course, user, @sheetname) %>
      <tr>
        <td><%= user.login %></td>
        <% @exercises.each do |exercise| %>
          <% exercise.available_points.each do |p| %>
            <td><%= raw("&#x2714;") if user_points.include?(p.name) %></td>
          <% end %>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

