<div class="scrollable">
  <table class="points">
    <thead>
      <tr>
        <th>Number of students</th>
        <th colspan="<%= @summary[:sheets].count %>">Total points/possible</th>
        <th>Total</th>
      </tr>
      <tr class="table-totals">
        <% nstudents = @summary[:students].length %>
        <td><%= nstudents %></td>
        <% @summary[:sheets].each do |sheet| %>
          <td>
            <%= "#{sheet[:awarded]}/#{sheet[:available]*nstudents}" %>
          </td>
        <% end %>
        <td>
          <%= "#{@summary[:awarded]}/#{@summary[:available]*nstudents}" %>
        </td>
      </tr>
      <tr>
        <th>Student</th>
        <% @summary[:sheets].map{|s| s[:name]}.each do |sheet| %>
          <th>
            <%= link_to sheet, course_point_path(@course, sheet) %>
          </th>
        <% end %>
        <th>Total</th>
      </tr>
    </thead>
    <tbody>
      <% @summary[:students].each do |student| %>
        <tr>
          <td><%= student[:login] %></td>
          <% @summary[:sheets].each do |sheet, (k, v)| %>
            <% sheetname = sheet[:name] %>
            <% sheetpoints = sheet[:available] %>
            <td>
              <%= "#{student[:points][sheetname]}/#{sheetpoints}" %>
            </td>
          <% end %>
          <td><%= "#{student[:awarded]}/#{@summary[:available]}" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
