<% unless @bare_layout %>
  <h1 class="float-left">Summary of points for <%= @course.name %></h1>
<% end %>

<% contains_late_points = !@summary[:total_late_for_user].empty? %>

<% if contains_late_points %>
  <a href="javascript:void(0);" onclick="$('.late-points-toggle').toggle();"
     id="late-points-toggle-button" class="btn btn-default btn-small float-right">Show/hide late points</a>
<% end %>

<%
   show_total_column = @summary[:sheets].size > 1
%>

<div class="float-clear"></div>
<%= content_tag('div', class: @bare_layout ? nil : 'scrollable') do %>
  <table class="points">
    <thead>
      <tr>
        <th></th>
        <th>Number of students</th>
        <% if !@summary[:sheets].empty? %>
          <th colspan="<%= @summary[:sheets].count %>">Total points/possible</th>
        <% end %>
        <% if show_total_column %>
          <th>Total</th>
        <% end %>
      </tr>
      <tr class="table-totals">
        <td>-</td>
        <% nstudents = @summary[:users].length %>
        <td><%= nstudents %></td>
        <% @summary[:sheets].each do |sheet| %>
          <td>
            <%= "#{sheet[:total_awarded]}/#{sheet[:total_available]*nstudents}" %>
          </td>
        <% end %>
        <% if show_total_column %>
          <td>
            <%= "#{@summary[:total_awarded]}/#{@summary[:total_available]*nstudents}" %>
          </td>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <th>
          Student<br />
          <% unless params[:sort_by].blank? %>
            [<%= link_to 'sort', organization_course_points_path(@organization, @course) %>]
          <% else %>
            [sort]
          <% end %>
        </th>
        <% @summary[:sheets].map{|s| s[:name]}.each do |sheet| %>
          <th>
            <%= sheet %><br />
            [<%= link_to 'open', organization_course_point_path(@organization, @course, sheet) %>]
            <% unless params[:sort_by] == "#{sheet}_points" %>
              [<%= link_to 'sort', organization_course_points_path(@organization, @course, :sort_by => "#{sheet}_points") %>]
            <% else %>
              [sort]
            <% end %>
          </th>
        <% end %>
        <% if show_total_column %>
          <th>
            Total<br />
            <% unless params[:sort_by] == 'total_points' %>
              [<%= link_to 'sort', organization_course_points_path(@organization, @course, :sort_by => "total_points") %>]
            <% else %>
              [sort]
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @summary[:users].each_with_index do |user, index| %>
        <% username = user.login %>
        <% row_class = if user.administrator? || user.teacher?(@organization) then "admin" else "student" end %>
        <tr class="<%= row_class %>">
          <td><%= index + 1 %></td>
          <td>
            <% if current_user.id == user.id || (can? :teach, @course) %>
              <%= link_to username, participant_path(user) %>
            <% else %>
              <%= username %>
            <% end %>
          </td>
          <% @summary[:sheets].each do |sheet| %>
            <% user_points_for_this_sheet = @summary[:awarded_for_user_and_sheet][username][sheet[:name]].to_i %>
            <% user_late_points = @summary[:awarded_late_for_user_and_sheet][username] || {} %>
            <% user_late_points_for_this_sheet = user_late_points[sheet[:name]].to_i %>
            <td>
              <% unless user_late_points_for_this_sheet == 0 %>
                <div class="late-points-toggle" style="display: none;">
                  <%=
                      raw("#{user_points_for_this_sheet - user_late_points_for_this_sheet}" +
                            '<span class="late-points">' +
                            "+#{user_late_points_for_this_sheet}" +
                            '</span>' +
                            "/#{sheet[:total_available]}")
                  %>
                </div>
                <div class="late-points-toggle">
                  <%= "#{user_points_for_this_sheet}/#{sheet[:total_available]}" %>
                </div>
              <% else %>
                <%= "#{user_points_for_this_sheet}/#{sheet[:total_available]}" %>
              <% end %>
            </td>
          <% end %>
          <% if show_total_column %>
            <td>
              <% total_for_user = @summary[:total_for_user][username].to_i %>
              <% total_late_for_user = @summary[:total_late_for_user][username].to_i %>
              <% unless total_late_for_user == 0 %>
                <div class="late-points-toggle" style="display: none;">
                  <%=
                      raw("#{total_for_user - total_late_for_user}" +
                            '<span class="late-points">' +
                            "+#{total_late_for_user}" +
                            '</span>' +
                            "/#{@summary[:total_available]}")
                  %>
                </div>
                <div class="late-points-toggle">
                  <%= "#{total_for_user}/#{@summary[:total_available]}" %>
                </div>
              <% else %>
                <%= "#{total_for_user}/#{@summary[:total_available]}" %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<% if contains_late_points %>
  <br/>
  Points after a plus sign indicate that the exercises for those points were submitted late.
<% end %>

<div class="alternative-format-links">[<%= link_to('csv', organization_course_points_path(@organization, @course, :sort_by => params[:sort_by], :format => 'csv')) %>]</div>
