<!--<h1>Test Runner: Current points for exercises</h1>

<% if signed_in? %>

<b>Uploads</b>

<% if flash[:alert] %>
  <p class="error"><%= flash[:alert] %>
<% end %>

<p>Amount of points not uploaded to gdocs is: <%= @points_in_queue.length %></p>

<%= form_tag(upload_points_path) do %>
   Click the button to upload all points in queue:
   <%= submit_tag("Upload points to gdocs") %>
<% end %>

<br />
<b>Points listing</b>
<table class="tableListings" width="600">
  <tr>
    <th>Student number</th>
    <th>Course</th>
    <th>Exercise number</th>
    <th>Point to GDocs</th>
    <th>Queue status</th>
  </tr>
  
  <% @points_status.each do |point| %>
  <tr>


    <td><%= point.student_id %></td>
    <td></td>
    <td><%= point.exercise_number %></td>
    <td><%= point.tests_pass %></td>
    <td><%= queue_status point %></td>
  </tr>
 <% end %> 
</table>

<% else %>

  <a href="https://docs.google.com">Go to Google docs to see your points.</a>

<% end %>
--->
