<% unless @bare_layout %>
  <h1>Summary of points for <%= @course.title %></h1>
<% end %>

<%
   show_total_column = @summary[:sheets].size > 1
%>

<%= content_tag('div', :class => if @bare_layout then nil else 'scrollable' end) do %>
  <table class="points">
    <thead>
      <tr>
        <th></th>
        <th>Number of students</th>
        <% if !@summary[:sheets].empty? %>
          <th colspan="<%= @summary[:sheets].count %>">Total points/possible</th>
        <% end %>
        <% if show_total_column %>
          <th>Total</th>
        <% end %>
      </tr>
      <tr class="table-totals">
        <td>-</td>
        <% nstudents = @summary[:users].length %>
        <td><%= nstudents %></td>
        <% @summary[:sheets].each do |sheet| %>
          <td>
            <%= "#{sheet[:total_awarded]}/#{sheet[:total_available]*nstudents}" %>
          </td>
        <% end %>
        <% if show_total_column %>
          <td>
            <%= "#{@summary[:total_awarded]}/#{@summary[:total_available]*nstudents}" %>
          </td>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <th>
          Student<br />
          <% unless params[:sort_by].blank? %>
            [<%= link_to 'sort', organization_course_points_path(@organization, @course) %>]
          <% else %>
            [sort]
          <% end %>
        </th>
        <% @summary[:sheets].map{|s| s[:name]}.each do |sheet| %>
          <th>
            <%= sheet %><br />
            [<%= link_to 'open', organization_course_point_path(@organization, @course, sheet) %>]
            <% unless params[:sort_by] == "#{sheet}_points" %>
              [<%= link_to 'sort', organization_course_points_path(@organization, @course, :sort_by => "#{sheet}_points") %>]
            <% else %>
              [sort]
            <% end %>
          </th>
        <% end %>
        <% if show_total_column %>
          <th>
            Total<br />
            <% unless params[:sort_by] == 'total_points' %>
              [<%= link_to 'sort', organization_course_points_path(@organization, @course, :sort_by => "total_points") %>]
            <% else %>
              [sort]
            <% end %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @summary[:users].each_with_index do |user, index| %>
        <% username = user.login %>
        <% row_class = if user.administrator? || user.teacher?(@organization) then "admin" else "student" end %>
        <tr class="<%= row_class %>">
          <td><%= index + 1 %></td>
          <td>
            <% if current_user.id == user.id || can?(:teach, @course) %>
              <%= link_to username, participant_path(user) %>
            <% else %>
              <%= username %>
            <% end %>
          </td>
          <% @summary[:sheets].each do |sheet| %>
            <% user_points_for_this_sheet = @summary[:awarded_for_user_and_sheet][username][sheet[:name]].to_i %>
            <td>
              <%= "#{user_points_for_this_sheet}/#{sheet[:total_available]}" %>
            </td>
          <% end %>
          <% if show_total_column %>
            <td><%= "#{@summary[:total_for_user][username].to_i}/#{@summary[:total_available]}" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<div class="alternative-format-links">[<%= link_to('csv', organization_course_points_path(@organization, @course, :sort_by => params[:sort_by], :format => 'csv')) %>]</div>
