
<% unless @bare_layout %>
  <h1>Points for <%= @sheetname %> of <%= @course.name %></h1>
<% end %>

<ul>
  <li>
    <%= link_to 'Back to summary', course_points_path(@course) %>
  </li>
  <li>
    <% if params[:sort_by].blank? %>
      <%= link_to 'Sort by points', course_point_path(@course, @sheetname, :sort_by => 'points') %>
    <% else %>
      <%= link_to 'Sort by username', course_point_path(@course, @sheetname) %>
    <% end %>
  </li>
  <% if can? :refresh_gdocs_spreadsheet, @course %>
    <li>
      <%= link_to 'Refresh Google Docs worksheet', refresh_gdocs_course_point_path(@course, @sheetname) %>
    </li>
  <% end %>
</ul>

<%= content_tag('div', :class => if @bare_layout then nil else 'scrollable' end) do %>
  <table class="points">
    <thead>
      <% if tailoring.show_exercise_names_in_points_table %>
        <tr>
          <th></th>
          <th></th>
          <% @exercises.each do |exercise| %>
            <% points = exercise.available_points.order! %>
            <% if points.size > 0 %>
              <th colspan="<%= points.size %>"><%= tailoring.exercise_name_for_points_table(exercise) %></th>
            <% end %>
          <% end %>
        </tr>
      <% end %>
      <tr>
        <th></th>
        <th></th>
        <% @exercises.each do |exercise| %>
          <% exercise.available_points.sort.each do |point| %>
            <th><%= point.name %></th>
          <% end %>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% @users.each_with_index do |user, index| %>
        <% if !user.administrator? || current_user.administrator? %>
          <% row_class = if user.administrator? then "admin" else "student" end %>
          <% user_points = @users_to_points[user.login] %>
          <tr class="<%= row_class %>">
            <td><%= index + 1 %></td>
            <td>
              <% if can? :read, user %>
                <%= link_to user.login, participant_path(user) %>
              <% else %>
                <%= user.login %>
              <% end %>
            </td>
            <% @exercises.each do |exercise| %>
              <% exercise.available_points.each do |p| %>
                <td><%= raw("&#x2714;") if user_points.include?(p.name) %></td>
              <% end %>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>
