<h1>Create new course</h1>

<%= render 'setup/wizard_bar' %>

<h2>Phase 4 - Course assistants</h2>

<p>
  You can have course assistants, who have partial teachership permissions for the course.
  They can see students' answers, make code reviews and help students.
  You can also skip this and add assistants later.
</p>

<%= form_tag(setup_organization_course_course_assistants_path) do %>
    <%= hidden_field_tag 'course_id', @course.id %>
    <%= render 'shared/error_messages', target: @assistantship %>

    <div class="field">
      <%= label_tag :username, "Enter assistant's username:" %>
      <%= text_field_tag :username %>
    </div>
    <div class="actions">
      <%= submit_tag 'Add new assistant', class: 'btn btn-mini' %>
      <%= submit_tag 'Continue', class: 'btn btn-mini' %>
    </div>
<% end %>
