<!--<h1>Listing exercise_returns</h1>

<table>
  <tr>
    <th>Course</th>
    <th>Exercise</th>
    <th>Student</th>
    <th>Return file</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exercise_returns.each do |exercise_return| %> 
  <%
    exercise = Exercise.find(exercise_return.exercise_id)
    course = Course.find(exercise.course_id)
  %>
  <tr>
    <td><%= course.name %></td>
    <td><%= exercise.name %></td>
    <td><%= exercise_return.student_id %></td>
    <td>
      <%=
        link_to("#{exercise.name}-#{exercise_return.id}.zip",
                "#{course_exercise_return_path(course, exercise, exercise_return)}.zip")
      %>
    </td>
    <td><%= link_to 'Run', new_test_suite_run_path %></td>
    <td><%= link_to 'Show', course_exercise_return_path(@course, @exercise, exercise_return) %></td>
    <td><%= link_to 'Edit', edit_course_exercise_return_path(@course, @exercise, exercise_return) %></td>
    <td><%= link_to 'Destroy', course_exercise_return_path(@course, @exercise, exercise_return),
      :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exercise return', new_course_exercise_return_path %>-->
