<% for answer in text_answers %>
  <section>
    <div class="feedback-question" title="<%= answer.feedback_question.question %>"><%= answer.feedback_question.title_or_question %></div>
    <div class="feedback-source">
      <% user = answer.submission.user %>
      By <%= link_to user.login, participant_path(user) %>
      <% unless user.email.blank? %>
        (<%= mail_to user.email, user.email %>)
      <% end %>
      with <%= link_to "submission ##{answer.submission.id}", answer.submission %>
      <% unless @exercise %>
        for <%= link_to answer.exercise.name, answer.exercise %>
      <% end %>
      at <%= answer.created_at.strftime("%H:%M %d.%m.%Y") %>
    </div>
    <p class="feedback-answer"><%= render_feedback_answer(answer) %></p>

    <%= submit_tag "Reply with mail", :class=>'feedback-reply-button', :id=> "button_#{answer.id}"  %>

    <% if answer.replied %>
        <i><span class="notice">Has already been replied!</span> </i>
    <% end  %>

    <div class='feedback-reply-form' id='<%="form_#{answer.id}"%>'>
      <%= form_tag "/feedback_reply" do %>
        <%= text_area_tag "body" , response_body_for(answer.answer), :size => "80x10" %>
        <%= hidden_field_tag 'email', user.email %>
        <%= hidden_field_tag 'answer_id', answer.id %>
        <br />
        <%= submit_tag "Send mail" %>
      <% end %>
      <%= submit_tag "Cancel", :class=>'feedback-reply-cancel-button', :id=> "cancel_#{answer.id}" %>
    </div>
  </section>
<% end %>
