<h1>Feedback for <%= @title %></h1>

<% unless @numeric_stats.all? {|_, _, answer_count| answer_count == 0 } %>
  <h2>Feedback statistics</h2>
  <% if @parent.is_a?(Course) && @numeric_questions.size == 2 %>
    <ul>
      <li><%= link_to 'Scatterplot', course_feedback_answers_chart_path(@course, :type => 'scatterplot') %></li>
    </ul>
  <% end %>
  <%= render :partial => 'feedback_answers/numeric_feedback', :locals => { :parent => @parent, :questions => @numeric_questions, :stats => @numeric_stats } %>
<% end %>

<% if !@text_answers.empty? %>
  <h2>Free-form feedback</h2>

  <%= render :partial => 'feedback_answers/text_feedback', :locals => { :text_answers => @text_answers } %>
<% end %>

<%= link_back %>

<%= javascript_include_tag('review_feedback.js')
%>