
<h1>List of participants</h1>

<%= render :partial => 'participants/filter_controls' %>

<p><%= link_to 'List of e-mails as plain-text', emails_path(@raw_filter_params.merge(:format => 'txt')) %>.</p>

<table class="participants">
  <thead>
    <tr>
      <th>Username</th>
      <th>E-mail</th>
    </tr>
  </thead>
  <tbody>
  <% for user in @participants %>
    <tr>
      <td><%= link_to user.login, participant_path(user) %></td>
      <td><%= user.email %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<div class="as-json">[<%= link_to "json", "#{participants_path @filter_params.merge(:format => :json, :api_version => ApplicationController::API_VERSION)}" %>]</div>

<%= use_datatables('table.participants', :bPaginate => false) %>

