<%= image_tag @user.gravatar_url(:rating => 'R', :secure => true, :size => 200, default: 'mm'), class: 'avatar' %>
<h1><%= @user.login %></h1>

<section>
  <ul>
    <li>E-mail: <%= mail_to(@user.email, @user.email) %></li>
    <% for field in UserField.all %>
      <% if field.field_type != :html %>
        <li><%= raw(field.name.humanize) %>: <%= extra_field_value(@user.field_value_record(field)) %></li>
      <% end %>
    <% end %>
    <li><%= link_to "Certificates", participant_certificates_path(@user) %></li>
    <li><%= link_to "Settings", user_path %></li>
  </ul>
</section>

<section>
  <h2>Points</h2>
  <% for course in @courses %>
    <h3><%= course.title %></h3>
    <% if can? :see_points, course %>
      <ul>
        <li>Completed: <%= sprintf("%.0f", @percent_completed[course.id]) %>%</li>
        <li>Awarded points: <%= points_list(@awarded_points[course.id]) %></li>
        <li>Missing points: <%= points_list(@missing_points[course.id]) %></li>
      </ul>
    <% else %>
      For this course points are not visible.
    <% end %>
  <% end %>
</section>

<section>
  <h2>Submissions</h2>
  <% if @submissions.size < @submission_count %>
    <p>Showing latest <%= @submissions.size%> of <%= @submission_count %> submissions. <%= link_to "View all submissions", participant_path(@user, view_all: 1) %></p>
  <% end %>
  <%= show_submission_list(@submissions) %>
</section>
