<%= render partial: 'nav' %>
<h2>My Account</h2>


<div class="participant-details">
  <%= image_tag @user.gravatar_url(:rating => 'R', :secure => true, :size => 200, default: 'mm'), class: 'avatar' %>

  <section class="participant-entries">
    <ul class="nobullets">
      <li>Username: <%= @user.login %></li>
      <li>E-mail: <%= mail_to(@user.email, @user.email) %></li>
      <% for field in UserField.all %>
        <% if field.field_type != :html %>
          <li><%= raw(field.name.humanize) %>: <%= extra_field_value(@user.field_value_record(field)) %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>

<%= render 'layouts/points', courses: @courses, title: 'Points', show_course_name: true %>

<section>
  <h2>Submissions</h2>
  <% if @submissions.size < @submission_count %>
    <p>Showing latest <%= @submissions.size%> of <%= @submission_count %> submissions. <%= link_to "View all submissions", participant_path(@user, view_all: 1) %></p>
  <% end %>
  <%= show_submission_list(@submissions) %>
</section>
