<h1><%= @user.login %></h1>

<section>
  <ul>
    <li>E-mail: <%= mail_to(@user.email, @user.email) %></li>
    <% for field in UserField.all %>
      <% if field.field_type != :html %>
        <li><%= raw(field.name.humanize) %>: <%= extra_field_value(@user.field_value_record(field)) %></li>
      <% end %>
    <% end %>
  </ul>
</section>

<section>
  <h2>Points</h2>
  <% for course in @courses %>
    <h3><%= course.name %></h3>
    <ul>
      <li>Completed: <%= sprintf("%.0f", @percent_completed[course.id]) %>%</li>
      <li>Awarded points: <%= points_list(@awarded_points[course.id]) %></li>
      <li>Missing points: <%= points_list(@missing_points[course.id]) %></li>
    </ul>
  <% end %>
</section>

<section>
  <h2>Submissions</h2>
  <%= show_submission_list(@user.submissions.order('id DESC')) %>
</section>
