<h1><%= @user.login %></h1>

<section>
  <ul>
    <li>E-mail: <%= mail_to(@user.email, @user.email) %></li>
    <% for field in UserField.all %>
      <% if field.field_type != :html %>
        <li><%= raw(field.name.humanize) %>: <%= extra_field_value(@user.field_value_record(field)) %></li>
      <% end %>
    <% end %>
  </ul>
  <ul>
    <li><%= link_to "View certificates", participant_certificates_path(@user) %></li>
  </ul>
</section>

<section>
  <h2>Points</h2>
  <% for course in @courses %>
    <h3><%= course.name %></h3>
    <ul>
      <li>Completed: <%= sprintf("%.0f", @percent_completed[course.id]) %>%</li>
      <li>Awarded points: <%= points_list(@awarded_points[course.id]) %></li>
      <li>Missing points: <%= points_list(@missing_points[course.id]) %></li>
    </ul>
    <% certificate = Certificate.new(user: @user, course: course) %>
    <% if can? :create, certificate %>
      <a data-toggle="collapse" href="#<%= "certificate-#{course.id}" %>" aria-expanded="false" aria-controls="collapseExample">
        Download certificate
      </a>
      <div class="collapse" id="<%= "certificate-#{course.id}" %>">
        <div class="well">
          <%= render partial: 'certificates/form', locals: {certificate: certificate} %>
        </div>
      </div>
    <% end %>
  <% end %>
</section>

<section>
  <h2>Submissions</h2>
  <%= show_submission_list(@submissions) %>
</section>
