<%= render partial: 'nav' %>
<h2>My Account</h2>


<div class="participant-details">
  <%= image_tag @user.gravatar_url(:rating => 'R', :secure => true, :size => 200, default: 'mm'), class: 'avatar' %>

  <section class="participant-entries">
    <ul class="nobullets">
      <li>Username: <%= @user.login %></li>
      <li>E-mail: <%= mail_to(@user.email, @user.email) %></li>
      <% for field in UserField.all %>
        <% if field.field_type != :html %>
          <li><%= raw(field.name.humanize) %>: <%= extra_field_value(@user.field_value_record(field)) %></li>
        <% end %>
      <% end %>
    </ul>
  </section>
</div>

<% unless @user.email_verified? %>
  <div class="alert alert-warning" role="alert">
    Your email address is not verified yet. <%= link_to 'Resend verification email', send_verification_email_path(@user), method: :post %>.
  </div>
<% end %>

<section>
  <br>
  <h2>Points</h2>
  <br>
  <% for course in @courses %>
    <div class="card">
      <div class="card-body">
        <h3 class="card-title">
          <% if can? :read, course %>
            <%= link_to course.title, organization_course_path(course.organization, course) %>
          <% else %>
            <%= course.title %>
          <% end %>
        </h3>
        <br>
        <% if can? :see_points, course %>
          <span class="progress-label">Awarded points</span>
          <div class="progress course-points-progress">
            <div class="progress-bar" role="progressbar" style="width: <%= @percent_completed[course.id] %>%" aria-valuenow="<%= @percent_completed[course.id] %>" aria-valuemin="0" aria-valuemax="100">
              <%= sprintf("%.0f", @percent_completed[course.id]) %>%
            </div>
          </div>
          <% if @group_completion_ratios[course.id] %>
            <% @group_completion_ratios[course.id].each do |group, ratio| %>
              <br>
              <span class="progress-label">Awarded points for <%= group %></span>
              <div class="progress course-points-progress">
                <% unless ratio.zero? %>
                  <div class="progress-bar bg-info" role="progressbar" style="width: <%= ratio * 100 %>%" aria-valuenow="<%= ratio * 100 %>" aria-valuemin="0" aria-valuemax="100">
                    <%= sprintf("%.0f", ratio * 100) %>%
                  </div>
                <% end %>
              </div>
            <% end %>
            <br>
          <% end %>
          <br>
          <table class="table table-hover">
            <thead class="">
              <tr>
                <th></th>
                <th>Point names</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Awarded points</td>
                <td><%= points_list(@awarded_points[course.id]) %></td>
              </tr>
              <tr>
                <th scope="row">Missing points</td>
                <td><%= points_list(@missing_points[course.id]) %></td>
              </tr>
            </tbody>
          </table>
        <% else %>
          For this course points are not visible.
        <% end %>
      </div>
    </div>
    <br>
  <% end %>
</section>

<section>
  <h2>Submissions</h2>
  <% if @submissions.size < @submission_count %>
    <p>Showing latest <%= @submissions.size%> of <%= @submission_count %> submissions. <%= link_to "View all submissions", participant_path(@user, view_all: 1) %></p>
  <% end %>
  <%= show_submission_list(@submissions) %>
</section>
