<!--<%= form_for(@test_case_run) do |f| %>
  <% if @test_case_run.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_case_run.errors.count, "error") %> prohibited this test_case_run from being saved:</h2>

      <ul>
      <% @test_case_run.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :test_suite_run_id %><br />
    <%= f.text_field :test_suite_run_id %>
  </div>
  <div class="field">
    <%= f.label :exercise %><br />
    <%= f.text_field :exercise %>
  </div>
  <div class="field">
    <%= f.label :class_name %><br />
    <%= f.text_field :class_name %>
  </div>
  <div class="field">
    <%= f.label :method_name %><br />
    <%= f.text_field :method_name %>
  </div>
  <div class="field">
    <%= f.label :success %><br />
    <%= f.check_box :success %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
-->
