<!--<h1>Listing test_case_runs</h1>

<table>
  <tr>
    <th>Test suite run</th>
    <th>Exercise</th>
    <th>Class name</th>
    <th>Method name</th>
    <th>Success</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @test_case_runs.each do |test_case_run| %>
  <tr>
    <td><%= test_case_run.test_suite_run_id %></td>
    <td><%= test_case_run.exercise %></td>
    <td><%= test_case_run.class_name %></td>
    <td><%= test_case_run.method_name %></td>
    <td><%= test_case_run.success %></td>
    <td><%= test_case_run.message %></td>
    <td><%= link_to 'Show', test_case_run %></td>
    <td><%= link_to 'Edit', edit_test_case_run_path(test_case_run) %></td>
    <td><%= link_to 'Destroy', test_case_run, :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Test case run', new_test_case_run_path %>
-->
