<!--<p id="notice"><%= notice %></p>

<p>
  <b>Test suite run:</b>
  <%= @test_case_run.test_suite_run_id %>
</p>

<p>
  <b>Exercise:</b>
  <%= @test_case_run.exercise %>
</p>

<p>
  <b>Class name:</b>
  <%= @test_case_run.class_name %>
</p>

<p>
  <b>Method name:</b>
  <%= @test_case_run.method_name %>
</p>

<p>
  <b>Message:</b>
  <%= @test_case_run.message %>
</p>

<p>
  <b>Success:</b>
  <%= @test_case_run.success %>
</p>


<%= link_to 'Edit', edit_test_case_run_path(@test_case_run) %> |
<%= link_to 'Back', test_case_runs_path %>
-->
