<%
# Use this partial through the show_submission_list helper
%>

<%= content_tag :table, :class => 'submissions', :id => table_id do %>
  <thead>
    <tr>
      <th>Time</th>
      <th>Student</th>
      <% if show_exercise_column %>
        <th>Exercise</th>
      <% end %>
      <th>Status</th>
      <% if show_awarded_points %>
        <th>Points</th>
      <% end %>
      <% if show_review_column %>
        <th></th>
      <% else %>
        <th></th>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |submission| %> 
      <tr>
        <td><%= submission.created_at.strftime("%d.%m.%Y %H:%M") %></td>
        <td>
          <% if can? :read, submission.user %>
            <%= link_to submission.user.login, participant_path(submission.user) %>
          <% else  %>
            <%= submission.user.login %>
          <% end %>
        </td>
        <% if show_exercise_column %>
          <td>
            <%= link_to_submission_exericse(submission) %>
          </td>
        <% end %>
        <td>
          <%= submission_status(submission) %>
        </td>
        <% if show_awarded_points %>
          <td>
            <%= points_list(submission.points_list) %>
          </td>
        <% end %>
        <% if show_review_column %>
          <td>
            <%= link_to 'Review', new_submission_review_path(submission) %>
          </td>
        <% else %>
        <td>
          <%= link_to 'Files', submission_files_path(submission) %>
        </td>
        <td>
          <%= link_to 'Details', submission_path(submission)  %>
        </td>
        <% end %>
       </tr>
    <% end %>
  </tbody>
<% end %>

<% if invoke_datatables %>
  <%= use_datatables('#' + table_id, :bPaginate => false) %>
<% end %>