<%
# Use this partial through the show_submission_list helper
%>

<%= content_tag :table, :class => 'submissions', :id => table_id do %>
  <thead>
    <tr>
      <th>Time</th>
      <% if show_student_column %>
        <th>Student</th>
      <% end %>
      <% if show_exercise_column %>
        <th>Exercise</th>
      <% end %>
      <th>Status</th>
      <% if show_awarded_points %>
        <th>Points</th>
      <% end %>
      <% if show_review_column %>
        <th>Review</th>
      <% end %>
      <% if show_files_column %>
        <th></th>
      <% end %>
      <% if show_details_column %>
        <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% submissions.each do |submission| %> 
      <tr>
        <td><%= submission.created_at.strftime("%d.%m.%Y %H:%M") %></td>
        <% if show_student_column %>
          <td>
            <% if can? :read, submission.user %>
              <%= link_to submission.user.login, participant_path(submission.user) %>
            <% else  %>
              <%= submission.user.login %>
            <% end %>
          </td>
        <% end %>
        <% if show_exercise_column %>
          <td>
            <%= link_to_submission_exericse(submission) %>
          </td>
        <% end %>
        <td>
          <%= submission_status(submission) %>
        </td>
        <% if show_awarded_points %>
          <td>
            <%= points_list(submission.points_list) %>
          </td>
        <% end %>
        <% if show_review_column %>
          <td>
            <% if submission.reviewed? %>
              <% if can? :create, Review %>
                <%= link_to 'Available', new_submission_review_path(submission) %>
              <% else %>
                <%= link_to 'Available', submission_reviews_path(submission) %>
              <% end %>
            <% elsif submission.newer_submission_reviewed? %>
              <% if can? :create, Review %>
                <%= link_to 'Superseded', new_submission_review_path(submission) %>
              <% else %>
                <%= link_to 'Superseded', submission_review_path(submission) %>
              <% end %>
            <% elsif submission.review_dismissed? %>
              <% if can? :create, Review %>
                <%= link_to 'Dismissed', new_submission_review_path(submission) %>
              <% end %>
            <% elsif submission.requests_review? %>
              <% if can? :create, Review %>
                <%= link_to 'Requested', new_submission_review_path(submission) %>
              <% else %>
                Requested
              <% end %>
            <% elsif submission.requires_review? %>
              <% if can? :create, Review %>
                <%= link_to 'Required', new_submission_review_path(submission) %>
              <% else %>
                Pending
              <% end %>
            <% else %>
              <% if can? :create, Review %>
                <%= link_to 'Not required', new_submission_review_path(submission) %>
              <% end %>
            <% end %>
          </td>
        <% end %>
        <% if show_files_column %>
          <td>
            <%= link_to 'Files', submission_files_path(submission) %>
          </td>
        <% end %>
        <% if show_details_column %>
          <td>
            <%= link_to 'Details', submission_path(submission)  %>
          </td>
        <% end %>
       </tr>
    <% end %>
  </tbody>
<% end %>

<% if invoke_datatables %>
  <%= use_datatables('#' + table_id, :bPaginate => false) %>
<% end %>