<h1>Submission <%= @submission.id %></h1>
<%= render 'submission_details' %>

<% if can? :update, @submission %>
  <div class="row-fluid">
    <div class="span11">
      <h2>Rerun submission</h2>
      <div class="well">
        <div>
          <%= form_tag submission_path(@submission), :method => :put do %>
            <%= hidden_field_tag('rerun', '1')  %>
            <div>
              <%= button_tag 'Rerun submission', :type => 'submit', class: "btn btn-danger" %>
            </div>
            (may add points; never deletes points)
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<ul class="nav nav-tabs" id="myTab">
  <% if @submission.feedback_answers.any? %>
    <li><a href="#feedback" >Feedback</a></li>
  <% end %>
  <% if @submission.pretest_error %>
    <li><a href="#compilationError" >Compilation Error</a></li>
  <% end %>
  <% unless @submission.pretest_error %>
    <li><a href="#testResults" class="active">Test Results</a></li>
  <% end %>
  <% unless @submission.stdout.blank? %>
    <li><a href="#stdout" >System.out</a></li>
  <% end %>
  <% unless @submission.stderr.blank? %>
    <li><a href="#stderr" >System.err</a></li>
  <% end %>
  <% unless @submission.valgrind.blank? %>
    <li><a href="#valgrind" >Valgrind</a></li>
  <% end %>
  <% if current_user.administrator? && !@submission.vm_log.blank? %>
    <li class="<%= unless @is_paste then 'aactive' end %>"><a href="#logs">Logs</a></li>
  <% end %>
  <li class="<%= if @is_paste then 'aactive' end %>"><a href="#files">Files</a></li>
</ul>

<div class="row-fluid">
  <div class="span12">
    <div class="tab-content">
      <% if @submission.feedback_answers.any? %>
        <div class="tab-pane" id="feedback">
          <%= render 'feedback_answers' %>
        </div>
      <% end %>

      <% if @submission.pretest_error %>
        <div class="tab-pane" id="compilationError">
          <%= render 'pretest_error' %>
        </div>
      <% end %>

      <% unless @submission.pretest_error %>
        <div class="tab-pane active" id="testResults">
          <%= render 'submissions/details' %>
        </div>
      <% end %>

      <% unless @submission.stdout.blank? %>
        <div class="tab-pane" id="stdout">
          <%= render 'submissions/stdout' %>
        </div>
      <% end %>

      <% unless @submission.stderr.blank? %>
        <div class="tab-pane" id="stderr">
          <%= render 'submissions/stderr' %>
        </div>
      <% end %>

      <% unless @submission.valgrind.blank? %>
        <div class="tab-pane" id="valgrind">
          <%= render 'submissions/valgrind' %>
        </div>
      <% end %>

      <% if current_user.administrator? && !@submission.vm_log.blank? %>
        <div class="tab-pane <%= unless @is_paste then 'aactive' end %>" id="logs">
          <%= render 'logs' %>
        </div>
      <% end %>

      <div class="tab-pane <%= if @is_paste then 'aactive' end %>" id="files">
        <div class="row-fluid">
          <div class="span11">
            <%= render :partial => 'files/files', :locals => {:files => @files} %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    var hash = window.location.hash;
    hash && $('ul.nav a[href="' + hash + '"]').tab('show');

    $('#myTab a').click(function (e) {
      $(this).tab('show');
      var scrollmem = $('body').scrollTop();
      window.location.hash = this.hash;
      $('html,body').scrollTop(scrollmem);
      e.preventDefault();
      });
    });
</script>

<%= link_back %>
