
<h1>Submission <%= @submission.id %></h1>

<div class="submission-summary">
  <% if @submission.all_tests_passed? %>
    <p class="success">All tests successful</p>
  <% elsif @submission.tests_ran? %>
    <p class="failure">Some tests failed</p>
  <% else %>
    <p class="failure">Failed to run tests</p>
  <% end %>
</div>

<% if @submission.pretest_error %>
  <pre class="error"><%= @submission.pretest_error %></pre>
<% end %>

<% if @submission.tests_ran? %>
  <table>
    <tr>
      <th>Test case</th>
      <th>Status</th>
      <% if !@submission.all_tests_passed? %>
        <th>Info</th>
      <% end %>
    </tr>

  <% @submission.test_case_runs.each do |tcr| %>
    <tr>
      <td><%= tcr.test_case_name %></td>
      <td>
        <% if tcr.successful? %>
          <span class="success">Ok</span>
        <% else %>
          <span class="failure">Fail</span>
        <% end %>
      </td>
      <% if !@submission.all_tests_passed? %>
        <td><%= tcr.message %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<div class="submission-download-link">
  <%= link_to "Download #{@submission.downloadable_file_name}", submission_path(@submission, :format => 'zip') %>
</div>

<div class="link-back"><%= link_to 'Back', :back %></div>


