
<h1>Submission <%= @submission.id %></h1>

<% if @submission.all_tests_passed? %>
  <p class="success">All tests successful</p>
<% elsif @submission.tests_ran? %>
  <p class="failure">Some tests failed</p>
<% else %>
  <p class="failure">Failed to run tests</p>
<% end %>

<% if @submission.pretest_error %>
<pre class="error"><%= @submission.pretest_error %></pre>
<% end %>

<% if @submission.tests_ran? %>
  <table>
    <tr>
      <th>Exercise</th>
      <th>Class name</th>
      <th>Method name</th>
      <th>Status</th>
      <% if !@submission.all_tests_passed? %>
        <th>Info</th>
      <% end %>
    </tr>

  <% @submission.test_case_runs.each do |tcr| %>
    <tr>
      <td><%= tcr.exercise %></td>
      <td><%= tcr.class_name %></td>
      <td><%= tcr.method_name %></td>
      <td>
        <% if tcr.success %>
          <span class="success">Ok</span>
        <% else %>
          <span class="failure">Fail</span>
        <% end %>
      </td>
      <% if !@submission.all_tests_passed? %>
        <td><%= tcr.message %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<%= link_to 'Back', :back %>


