
<h1>Submission <%= @submission.id %></h1>

<div class="submission-summary">
  <% if !@submission.processed? %>
    <p>Processing...</p>
    <p class="processing-status"><!-- for JS to fill in --></p>
  <% elsif @submission.all_tests_passed? %>
    <p class="success">All tests successful</p>
  <% elsif @submission.tests_ran? %>
    <p class="failure">Some tests failed</p>
  <% else %>
    <p class="failure">Failed to run tests</p>
  <% end %>
</div>

<% if !@submission.processed? %>
<script type="text/javascript">
$(document).ready(function() {
  // Animate the "Processing..." text
  var dots = '...'
  setInterval(function() {
    if (dots == '...') {
      dots = '';
    } else {
      dots += '.';
    }
    $('.submission-summary p:first').text('Processing' + dots);
  }, 700)

  // Refresh status until processed, then refresh page
  var url = '<%= j submission_url(@submission, :format => :json, :api_version => ApplicationController::API_VERSION) %>';
  var refreshCooldown = 5000;
  function refreshStatus() {
    $.ajax({
      url: url,
      dataType: 'json',
      success: function(data) {
        if (data.status == 'processing') {
          status =
            'Place in queue: ' + data.submissions_before_this +
            ' / ' + data.total_unprocessed
          $('.processing-status').text(status);
        } else {
          window.location.reload();
        }
      },
      complete: function() {
        setTimeout(refreshStatus, refreshCooldown);
      }
    });
  }
  refreshStatus();
});
</script>
<% end %>

<% if can? :update, @submission %>
  <%= form_tag @submission, :method => :put do %>
    <%= content_tag :button, :type => 'submit' do %>
      Rerun submission
    <% end %>
    <span>(may add points; never deletes points)</span>
  <% end %>
<% end %>

<% if @submission.pretest_error %>
  <pre class="error"><%= @submission.pretest_error %></pre>
<% end %>

<% if @submission.tests_ran? %>
  <table>
    <tr>
      <th>Test case</th>
      <th>Status</th>
      <% if !@submission.all_tests_passed? %>
        <th>Info</th>
      <% end %>
    </tr>

  <% @submission.test_case_runs.each do |tcr| %>
    <tr>
      <td><%= tcr.test_case_name %></td>
      <td>
        <% if tcr.successful? %>
          <span class="success">Ok</span>
        <% else %>
          <span class="failure">Fail</span>
        <% end %>
      </td>
      <% if !@submission.all_tests_passed? %>
        <td><%= tcr.message %></td>
      <% end %>
    </tr>
  <% end %>
  </table>
<% end %>

<div class="submission-download-link">
  <%= link_to "Download #{@submission.downloadable_file_name}", submission_path(@submission, :format => 'zip') %>
</div>

<div class="link-back"><%= link_to 'Back', :back %></div>


