<%= stylesheet_link_tag 'shCore', 'shThemeDefault' %>
<%= javascript_include_tag 'shCore', 'shBrushColdFusion.js','shBrushJavaFX.js','shBrushSql.js','naturalSort.js','shBrushCpp.js','shBrushPerl.js','shBrushVb.js','jquery-ui.js','page_presence.js','shBrushCss.js','shBrushPhp.js','shBrushXml.js','jquery-ui.min.js','review_notifications.js','shBrushDelphi.js','shBrushPlain.js','jquery.cookie.js','shAutoloader.js','shBrushDiff.js','shBrushPowerShell.js','shLegacy.js','jquery.dataTables.min.js','shBrushAS3.js','shBrushErlang.js','shBrushPython.js','underscore-min.js','jquery.js','shBrushAppleScript.js','shBrushGroovy.js','shBrushRuby.js','jquery.min.js','shBrushBash.js','shBrushJScript.js','shBrushSass.js','jquery_ujs.js','shBrushCSharp.js','shBrushJava.js','shBrushScala.js' %>


 
<script type="text/javascript">
$(document).ready(function() {
  SyntaxHighlighter.all();
});
</script>

<% just_one_html_prelude = (files.count {|f| f.html_prelude != nil } == 1) %>
<% if just_one_html_prelude %>
  <%= raw(files.find {|f| f.html_prelude != nil }.html_prelude) %>
<% end %>

<div class="solution-files">
  <% for file in files %>
    <h2><%= file.path %></h2>
    <% if !just_one_html_prelude && file.html_prelude %>
      <%= raw(file.html_prelude) %>
    <% end %>
    <%
      brush = case File.extname(file.path)
       when '.txt' then 'plain'
       when '' then 'plain'
       else File.extname(file.path)[1..-1]
       end
    %>
    <pre class="brush: <%= brush %>"><%= file.contents %></pre>
  <% end %>
</div>
