<h1><%= @title %>
    <% if @submission.public? and current_user.administrator? %>
    - <span class="error"> This submission is public</span>
    <% end %>
</h1>


<ul>
  <% if can? :read, @submission %>
  <li>Download as <%= link_to @submission.downloadable_file_name, submission_path(@submission, :format => 'zip') %></li>
  <% end %>
  <% if can? :create, Review %>
    <li><%= link_to "Start code review", new_submission_review_path(@submission) %></li>
  <% end %>
</ul>

  <% unless @submission.message_for_paste.blank? %>
  <div class="row-fluid ">
    <div class="span12 well">
      <h3>Message for paste</h3>
      <%= @submission.message_for_paste %>
    </div>
  </div>
  <% end %>
  <div class="row-fluid">
    <div class="span12">
      <div class="accordion" id="testResultsAccordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#testResultsAccordion" href="#collapseOne">
              <h2 class="">Test results</h2>
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse out">
            <div class="accordion-inner">
              <%= render 'submissions/details' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<%= render :partial => 'files/files', :locals => {:files => @files} %>
