<h1>Create new course</h1>

<%= render 'setup/wizard_bar' %>

<h2>Phase 2 - Basic information</h2>

<%= form_for(@course, url: setup_organization_course_course_details_path) do |f| %>
    <%= render 'shared/error_messages', target: @course %>

    <%= bs_labeled_field('Course title*', f.text_field(:title)) %>
    <%= bs_labeled_field('Course description', f.text_area(:description)) %>
    <%= bs_labeled_field('Material URL', f.text_field(:material_url)) %>

    <% custom = false %>
    <% if custom %>
        <%= bs_labeled_field('Source Type', f.text_field(:source_backend, value: 'git', disabled: 'disabled')) %>
        <%= bs_labeled_field('Source URL*', f.text_field(:source_url)) %>
        <%= bs_labeled_field('Git branch name*', f.text_field(:git_branch, value: 'master')) %>
    <% else %>
        <%= f.hidden_field(:course_template_id, value: @course.course_template.id) %>
    <% end %>

    <p>Fields with (*) are required</p>

    <div class="actions">
      <%= f.submit 'Update course information', class: 'btn btn-primary'%>
    </div>
<% end %>
