<%= form_for(@course) do |f| %>
  <%= render 'shared/error_messages', :target => @course %>

  <%= labeled_field("Course name (should not contain whitespace)", f.text_field(:name)) %>
  <%= labeled_field("Remote repo URL", f.text_field(:remote_repo_url)) %>
  <div class="actions">
    <%= f.submit 'Add Course'%>
  </div>
<% end %>
