<%= form_for(@course, url: organization_courses_path) do |f| %>
  <%= render 'shared/error_messages', :target => @course %>

  <%= labeled_field("Course name (should not contain whitespace)", f.text_field(:name)) %>
  <%= labeled_field("Source Type", f.text_field(:source_backend, :value => 'git', :disabled => 'disabled')) %>
  <%= labeled_field("Source URL", f.text_field(:source_url)) %>
  <%= labeled_field("Git branch name", f.text_field(:git_branch, :value => 'master')) %>
  <div class="actions">
    <%= f.submit 'Add Course', class: "btn btn-primary"%>
  </div>
<% end %>
