<%= form_for(@course) do |f| %>
  <%= render 'shared/error_messages', :target => @course %>

  <%= labeled_field("Course name (should not contain whitespace)", f.text_field(:name)) %>
  <%= labeled_field("Source Type", f.text_field(:source_backend, :value => 'git', :enabled => false)) %>
  <%= labeled_field("Source URL", f.text_field(:source_url)) %>
  <div class="actions">
    <%= f.submit 'Add Course'%>
  </div>
<% end %>
