<% locals[:courses].each do |course| %>
  <%= link_to organization_course_path(@organization, course) do %>
    <div class="card course-card">
      <div class="card-body">
        <h4 class="card-title">
          <% if course.hidden? || course.disabled? %>hidden-course<% end %>
          <%= course.title %>
          <small class="text-muted">(<%= course.name %>)</small>
        </h4>
        <%= course.description.presence || "A mysterious course without description." %>
      </div>
    </div>
  <% end %>
  <br>
<% end %>

<% if signed_in? %>
  <div class="alternative-format-links">[<%= link_to "json", "#{organization_courses_path organization_id: @organization.slug, format: :json, api_version: ApiVersion::API_VERSION}" %>]</div>
<% end %>
