
<h1>Test Runner</h1>
<h2>All Courses [<%= link_to "json", "#{courses_path}.json" %>] </h2>

<p>
  <% if signed_in? %>
  <table border="0" width="600">
    <tr>
      <td>
        <%= link_to 'Create New Course', new_course_path %>
      </td>
      <td align="right">
        <% if flash[:alert] %>
          <p class="error"><%= flash[:alert] %></p>
        <% end %>

        <p>Non uploaded points to gdocs: <%= @num_points_in_queue %></p>
        </td><td align="right">
        <%= form_tag(upload_points_path) do %>
          <%= submit_tag("Upload points to gdocs") %>
        <% end %>
      </td>
    </table>
  <% end %>
</p>

<h3>Ongoing courses</h3>
<%= render 'list', :locals => { :courses => @ongoing_courses } %>

<% if signed_in? and not @expired_courses.empty? %>
  <h3>Expired courses</h3>
  <%= render 'list', :locals => { :courses => @expired_courses } %>
<% end %>  
  

