<h1>Edit deadlines</h1>
<%= form_tag save_deadlines_organization_course_url(@organization, @course), method: :post do %>
  <table class="exercise-list table table-hover table-condensed">
    <thead>
    <tr>
      <th>
        Exercise group
      </th>
      <th>
        Exercise
      </th>
      <th>
        Soft deadlines
      </th>
      <th>
        Hard deadlines
      </th>
    </tr>
    </thead>
    <tbody>
    <% @course.exercise_groups.each do |group| %>
      <tr>
        <td>
          <%= group.name %><br/>
        </td>
        <td>
          <% group.exercises(false).each do |exercise| %>
            <%= render partial: 'exercises/list_single', locals: { exercise: exercise } %>
            <br/>
          <% end %>
        </td>
        <td>
          <%=
              render partial: 'deadline_fields',
                     locals: { group: group, deadline: group.soft_group_deadline, deadline_type: 'soft' }
          %>
        </td>
        <td>
          <%=
              render partial: 'deadline_fields',
                     locals: { group: group, deadline: group.hard_group_deadline, deadline_type: 'hard' }
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= submit_tag 'Save changes', class: "btn btn-info" %>
<% end %>