<h1>Edit unlock dates</h1>
<%= form_tag save_unlocks_organization_course_path, method: :post do %>
    <table class="exercise-list table table-hover table-condensed">
      <thead>
      <tr>
        <th>
          Exercise group
        </th>
        <th>
          Exercise
        </th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <% @course.exercise_groups.each do |group| %>
          <tr>
            <td>
              <%= group.name %><br/>
            </td>
            <td>
              <% group.exercises(false).each do |exercise| %>
                  <%= exercise.name %>
                  <%
                     notes = []
                     notes << 'hidden' if exercise.hidden?
                     notes << 'expired' if exercise.expired_for?(current_user)
                     notes << 'locked' unless exercise.unlocked_for?(current_user)
                  %>
                  <% unless notes.empty? %>
                      (<%= notes.join(', ') %>)
                  <% end %>
                  <br/>
              <% end %>
            </td>
            <td>
              <%
                 if group.name.empty?
                   param_array = 'empty_group'
                 else
                   param_array = "group[#{group.name}]"
                 end
              %>
              <%= label_tag "#{param_array}", 'Unlock date' %>
              <%= text_field_tag "#{param_array}", group.group_unlock_conditions[0] %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= submit_tag 'Save changes', class: "btn btn-info" %>
<% end %>