<h1>Edit deadlines</h1>
<table class="exercise-list table table-hover table-condensed">
  <thead>
  <tr>
    <th>
      Exercise group
    </th>
    <th>
      Exercise
    </th>
    <th>
      Group attributes
    </th>
  </tr>
  </thead>
  <tbody>
  <%= form_tag '/test', method: :post do %>
    <% @course.exercise_groups.each do |group| %>
      <tr>
        <td>
          <%= group.name %><br/>
        </td>
        <td>
          <% group.exercises(true).each do |exercise| %>
            <%= exercise.name %><br/>
          <% end %>
        </td>
        <td>
          <%= label_tag group.name, 'Deadline' %>
          <%= text_field_tag group.name %>
        </td>
      </tr>
    <% end %>
  <% end %>

  <!--
  <% @exercises.each do |exercise| %>
    <tr>
      <td>
        <%= link_to exercise.name, exercise %>
        <%
           notes = []
           notes << "hidden" if exercise.hidden?
           notes << "expired" if exercise.expired_for?(current_user)
           notes << "locked" unless exercise.unlocked_for?(current_user)
        %>
        <% unless notes.empty? %>
          (<%= notes.join(', ') %>)
        <% end %>
      </td>
      <td>
        Deadline: <input type="datetime-local" /><br/>
      </td>
      <td>
        Dynamic deadline: <input type="text" />
      </td>
    </tr>
  <% end %>
  -->
  </tbody>
</table>

<%= link_to 'Save', '/', class: "btn btn-info" %>