<h1>Create new course from <%= @course_template.name %></h1>

<%= form_for(@course, url: clone_course_organization_courses_path) do |f| %>
  <%= render 'shared/error_messages', target: @course %>

  <%= bs_labeled_field("Course name (should not contain whitespace)*", f.text_field(:name)) %>
  <%= bs_labeled_field("Course title*", f.text_field(:title)) %>
  <%= bs_labeled_field("Course description", f.text_area(:description)) %>
  <%= bs_labeled_field("Material URL", f.text_field(:material_url)) %>

  <%= f.hidden_field(:course_template_id, value: @course_template.id) %>

  <p>Fields with (*) are required</p>

  <div class="actions">
    <%= f.submit 'Add Course', class: "btn btn-primary"%>
  </div>

<% end %>
