
<h1>
  <%= @course.name %>
</h1>

<% if @refresh_report %>
  <%= render :partial => 'courses/refresh_report', :locals => { :report => @refresh_report } %>
<% end %>

<ul>
  <li><%= link_to 'View points', course_points_path(@course) %></li>
</ul>

<% if current_user.administrator? %>
<ul>
  <li>Source type: <%= @course.source_backend.upcase %> </li>
  <li>Source URL: <span class="source-url"><%= @course.source_url %></span></li>

  <% if @course.source_backend == 'git' %>
    <% github_url = github_repo_url_to_project_page_url(@course.source_url) %>
    <% if github_url %>
      <li>Github URL: <%= link_to github_url, github_url %></li>
    <% end %>
    <li>Git Branch: <%= @course.git_branch %></li>
  <% end %>

  <% if !@course.visible? %>
    <li>The course is currently hidden. Unhide by editing
    <code>course_options.yml</code></li>
  <% end %>

  <% if @course.hide_after != nil %>
    <li>Course hidden after: <%= @course.hide_after %></li>
  <% end %>

  <li>Number of submissions: <%= @course.submissions.count %></li>

  <% if @course.spreadsheet_key %>
    <li>
      <%= link_to 'Points spreadsheet in Google Docs',
      "http://spreadsheets.google.com/ccc?key=#{@course.spreadsheet_key}" %>
    </li>
  <% end %>
</ul>

<ul>
  <li><%= link_to 'View feedback', course_feedback_answers_path(@course)%></li>
  <li><%= link_to 'Manage feedback questions', course_feedback_questions_path(@course) %></li>
</ul>
<% end %>

<h2>All exercises</h2>

<section>
  <% if current_user.administrator? %>
    <div class="refresh-course-button">
      <%= button_to 'Refresh from repository', refresh_course_path(@course) %>
    </div>
  <% end %>

  <%= render :partial => 'exercises/list', :locals => { :course => @course, :exercises => @exercises } %>
</section>

<% if @submissions %>
  <h2>Latest submissions</h2>
  
  <section>
    <% if @course.submissions.count > @submissions.count %>
      <p>
        Only showing <%= @submissions.count %> of <%= @course.submissions.count %>
        <%= link_to "(show all)", course_submissions_path(@course) %>.
      </p>
    <% end %>
    
    <div>
      <%= render :partial => 'submissions/list', :locals => { :submissions => @submissions } %>
    </div>
  </section>
<% end %>

