<div class="row-fluid">
  <div class="span12">
    <h1><%= @course.title %></h1>
    <p><%= @course.description %></p>
    <% unless @course.material_url.blank? %>
      <p><%= link_to 'Material', @course.material_url %></p>
    <% end %>
    <div>
      <% if @refresh_report %>
        <%= render :partial => 'courses/refresh_report', :locals => { :report => @refresh_report } %>
      <% end %>

      <ul>
        <li><%= link_to 'View points', organization_course_points_path(@organization, @course) %></li>
        <% if can? :view_code_reviews, @course %>
          <li><%= link_to 'View code reviews', organization_course_reviews_path(@organization, @course) %></li>
        <% end %>
        <li><%= link_to 'View help page', organization_course_help_path(@organization, @course)%></li>
        <% if can? :teach, @organization %>
          <li><%= link_to 'View student emails', organization_emails_path %></li>
        <% end %>
      </ul>
      <% if can? :teach, @organization %>
        <ul>
          <li>Source type: <%= @course.source_backend.upcase %> </li>
          <li>Source URL: <span class="source-url"><%= @course.source_url %></span></li>

          <% if @course.source_backend == 'git' %>
            <% github_url = github_repo_url_to_project_page_url(@course.source_url) %>
            <% if github_url %>
              <li>Github URL: <%= link_to github_url, github_url %></li>
            <% end %>
            <li>Git branch: <%= @course.git_branch %></li>
            <% gitrev = @course.git_revision %>
            <% if gitrev %>
              <li>Git revision: <%= gitrev %></li>
            <% end %>
          <% end %>
          <% if @course.refreshed_at %>
            <li>Last refreshed at: <%= @course.refreshed_at.strftime("%d.%m.%Y %H:%M:%S") %></li>
          <% end %>

          <% if @course.disabled? %>
            <li>The course is currently <strong>disabled</strong>.</li>
          <% end %>

          <% if @course.hidden? %>
            <li>The course is currently hidden. Unhide by editing
            <code>course_options.yml</code></li>
          <% end %>

          <% if @course.hide_after != nil %>
            <li>Course hidden after: <%= @course.hide_after %></li>
          <% end %>

          <% if @course.hidden_if_registered_after != nil %>
            <li>Course hidden from user accounts created after: <%= @course.hidden_if_registered_after %></li>
          <% end %>

          <li>
            Number of submissions (from <span title="administrators and specially marked test user accounts are excluded">actual users</span>): <%= @total_submissions %>
            (stats <%= link_to 'over time', organization_course_stat_path(@organization, @course, 'submissions') %>,
             <%= link_to 'by hour', organization_course_stat_path(@organization, @course, 'submission_times') %>)
          </li>

          <% if @course.spreadsheet_key %>
            <li>
              <%= link_to 'Points spreadsheet in Google Docs',
              "http://spreadsheets.google.com/ccc?key=#{@course.spreadsheet_key}" %>
            </li>
          <% end %>
          <li>
            <%= link_to 'Send message to every participant', new_organization_course_course_notifications_path(@organization, @course) %>
          </li>
        </ul>

        <%
         reviews_required = @course.reviews_required.count
         reviews_requested = @course.reviews_requested.count
        %>
        <% if reviews_required > 0 || reviews_requested > 0 %>
          <ul>
            <% if reviews_required > 0 %>
              <li class="review-required">
                <%= link_to pluralize(reviews_required, "code review") + " required", course_reviews_path(@course) %>
              </li>
            <% end %>
            <% if reviews_requested > 0 %>
              <li class="review-requested">
                <%= link_to pluralize(reviews_requested, "code review") + " requested", course_reviews_path(@course) %>
              </li>
            <% end %>
          </ul>
        <% end %>

        <ul>
          <li><%= link_to 'View feedback', organization_course_feedback_answers_path(@organization, @course)%></li>
          <li><%= link_to 'Manage feedback questions', organization_course_feedback_questions_path(@organization, @course) %></li>
        </ul>
      <% end %>
      <% if can? :teach, @organization %>
        <%= link_to 'Manage deadlines', manage_deadlines_organization_course_path(@organization, @course), class: "btn btn-default btn-mini" %>
        <%= link_to 'Manage unlock dates', manage_unlocks_organization_course_path, class: "btn btn-default btn-mini" %>
        <%= link_to 'Edit course parameters', edit_organization_course_path(@organization, @course), class: "btn btn-default btn-mini" %>
      <% end %>
      <% if can? :refresh, @course %>
        <%= link_to 'Refresh', refresh_organization_course_path(@organization, @course), class: "btn btn-warning btn-mini" %>
      <% end %>

      <% if can? :teach, @organization %>
        <% if @course.disabled? %>
          <%= link_to 'Enable Course', enable_organization_course_path(@organization, @course), method: :post, class: "btn btn-info btn-mini" %>
        <% else %>
          <%=
              link_to 'Disable Course', disable_organization_course_path(@organization, @course), method: :post,
                      data: { confirm: "Are you sure you want to disable the course?" }, class: "btn btn-danger btn-mini"
          %>
        <% end %>
      <% end %>
      <% unlockables = @course.unlockable_exercises_for(current_user) %>
      <% unless unlockables.empty? %>
        <p>
          You can <%= link_to "unlock #{pluralize(unlockables.count, 'new exercise')}", organization_course_unlock_path(@organization, @course) %>.
        </p>
      <% end %>
    </div>

    <% if signed_in? %>
        <div class="alternative-format-links">[<%= link_to 'json', "#{one_course_json_organization_course_path organization_id: @organization.slug, id: @course.id, api_version: ApiVersion::API_VERSION}" %>]</div>
    <% end %>

    <h2>All exercises</h2>
    <div>
      <%=
          render :partial => 'exercises/list', :locals => {
            :course => @course,
            :exercises => @exercises,
            :completion_status => @exercise_completion_status
          }
      %>
    </div>

    <% if @submissions %>
      <h2>Latest submissions</h2>
      <section>
        <% if @total_submissions > @submissions.count %>
          <p>
            Only showing <%= @submissions.count %> of <%= @total_submissions %>
            <%= link_to "(show all)", organization_course_submissions_path(@organization, @course) %>.
          </p>
        <% end %>
        <div>
          <%= show_submission_list(@submissions) %>
        </div>
      </section>
    <% end %>
  </div>
</div>
