
<h1>
  <%= @course.name %>
</h1>

<% if signed_in? %>
<ul>
  <li>Repository URL: <span class="repo-url"><%= @course.bare_url %></span></li>
  <% github_url = github_repo_url_to_project_page_url(@course.bare_url) %>
  <% if github_url %><li>Github URL: <%= link_to github_url, github_url %></li><% end %>
  <% if !@course.visible? %><li>The course is currently hidden. Unhide by editing <code>course_options.yml</code></li><% end %>
  <% if @course.hide_after != nil %><li>Course hidden after: <%= @course.hide_after %></li><% end %>
</ul>
<% end %>

<h2>All exercises</h2>

<section>
  <div class="refresh-course-button">
    <%= button_to 'Refresh from repository', refresh_course_path(@course) %>
  </div>

  <%= render :partial => 'exercises/list', :locals => { :course => @course, :exercises => @exercises } %>

</section>

<% if @submissions %>
  <h2>Latest submissions</h2>

  <section>
    <%= render :partial => 'submissions/list', :locals => { :submissions => @submissions } %>
  </section>
<% end %>

