<%= form_for(@organization, url: url) do |f| %>
    <%= render 'shared/error_messages', target: @organization %>

    <%= bs_labeled_field('name', f.text_field(:name, class: 'form-control'), required: true) %>
    <%= bs_labeled_field('infomation', f.text_area(:information, class: 'form-control')) %>
    <%= bs_labeled_field('website', f.text_field(:website, class: 'form-control')) %>

    <div class="field">
      <%= f.label :slug, "Organization ID *" %>
      <% unless current_user.administrator? %>
        This is permanent and can't be changed later.<br>
      <% end %>
      Preview:
  <span id="organization-id-preview-url">
     <%= organizations_url %>/<span id="organization-id-preview-slug"></span>
  </span>
      <br/>
      <%= f.text_field :slug, disabled: @cant_edit_slug, onkeyup: 'Organizations.updateSlugPreview(this.value)', class: 'form-control' %>
    </div>

    <%= bs_labeled_field('logo (recommended minimum size 100x100)', f.file_field(:logo, class: 'form-control')) %><br/>

    <h2>Contact details</h2>

    <p>
      Following fields are not public. Only visible for admins and organization teachers.
    </p>

    <%= bs_labeled_field('Contact name', f.text_field(:contact_information, class: 'form-control')) %>
    <%= bs_labeled_field('Phone number', f.text_field(:phone, class: 'form-control')) %>
    <%= bs_labeled_field('Email', f.text_field(:email, class: 'form-control')) %><br/>

    <div class="actions">
      <%= f.submit class: 'btn btn-primary' %>
    </div>
<% end %>
