= form_for @notifier, url: course_course_notifications_path do |f|
  = f.label :topic
  %br
  = f.text_field :topic
  %br
  = f.label :message
  %br
  = f.text_area :message
  %br
  = f.submit 'Send email to every course participant', confirm: "Do you really want to send this message to every participant?"
