<%= form_for(@organization) do |f| %>
  <%= render 'shared/error_messages', target: @organization %>

  <%= bs_labeled_field('name', f.text_field(:name)) %>
  <%= bs_labeled_field('infomation', f.text_area(:information)) %>
  <%= bs_labeled_field('logo (recommended minimum size 100x100)', f.file_field(:logo)) %><br/>

  <div class="field">
    <%= f.label :slug %>
    Preview:
  <span id="organization-id-preview-url">
     <%= organizations_url %>/<span id="organization-id-preview-slug"></span>
  </span>
    <br/>
    <%= f.text_field :slug, disabled: @cant_edit_slug, onkeyup: 'Organizations.updateSlugPreview(this.value)' %>
  </div>

  <h2>Contact details</h2>

  <%= bs_labeled_field('Contact name', f.text_field(:contact_person)) %>
  <%= bs_labeled_field('Phone number', f.text_field(:phone)) %>
  <%= bs_labeled_field('Email', f.text_field(:email)) %><br/>

  <div class="actions">
    <%= f.submit  %>
  </div>

<% end %>
