<h1>Welcome to TMC</h1>

<% if current_user.administrator? && !Organization.pending_organizations.empty? %>
  <div class="alert alert-warning" role="alert">
    <%= pluralize(Organization.pending_organizations.size, 'new organization request') %>.
    <%= link_to 'Show', list_requests_organizations_path %>
  </div>
<% end %>

<% unless @my_organizations.empty? %>
  <h2>My organizations</h2>

  <table id="my-organizations-table" class="table">
    <thead>
    <tr>
      <th>Name</th>
    </tr>
    </thead>
    <tbody>
    <% @my_organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.name, organization_path(organization) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<% if @my_organizations.empty? %>
  <h2>Organizations</h2>
<% else %>
  <h2>All organizations</h2>
<% end %>

<table id="organization-table" class="table">
  <thead>
  <tr>
    <th>Name</th>
    <th>Information</th>
    <% if current_user.administrator? %>
      <th></th>
    <% end %>
  </tr>
  </thead>

  <tbody>
  <% @organizations.each do |organization| %>
    <% if !organization.hidden? || can?(:view_hidden_organizations, nil) %>
      <tr class="<%= 'hidden-organization' if organization.hidden?  %>">
        <td><%= link_to organization.name, organization_path(organization) %></td>
        <td><%= organization.information %></td>
        <% if current_user.administrator? %>
          <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <% end %>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>

<%= use_datatables('#organization-table', bPaginate: false) %>

<br>

<% if current_user.administrator? %>
    <%= link_to 'Request a new organization', new_organization_path, class: "btn btn-mini btn-warning" %>
<% end %>
