<h1>Unverified organizations</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Information</th>
    <th>Created by</th>
    <th>Created at</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @unverified_organizations.each do |organization| %>
    <% created_by = organization.creator %>
    <tr>
      <td><%= link_to organization.name, organization %></td>
      <td><%= organization.information %></td>
      <td><%= link_to created_by.username, participant_path(created_by) unless created_by.nil? %></td>
      <td><%= organization.created_at %></td>
      <td><%= link_to 'Verify', verify_organization_path(organization), method: :post, class: 'btn btn-success' %></td>
      <td><%= link_to 'Disable', disable_reason_input_organization_path(organization), class: 'btn btn-danger' %></td>
    </tr>
    <tr>
      <td></td>
      <th align="right">Contact details:</th>
      <td colspan="2"><%= organization.contact_information%></td>
    </tr>
      <tr>
        <td></td>
        <th align="right">Contact email:</th>
        <td colspan="2"><%= mail_to organization.email%></td>
      </tr>
      <tr>
        <td></td>
        <th align="right">Contact phone:</th>
        <td colspan="2"><%= organization.phone%></td>
      </tr>
  <% end %>
  </tbody>
</table>