<h1>Request new organization</h1>

<p>
  To host courses, you need to have an organization. Initially, new organization is on pending status
  waiting for admin to accept it until you can continue to make courses.
</p>

<%= form_for(@organization) do |f| %>
  <%= render 'shared/error_messages', target: @organization %>

  <%= bs_labeled_field('name*', f.text_field(:name)) %>
  <%= bs_labeled_field('infomation', f.text_area(:information)) %>
  <%= bs_labeled_field('logo', f.file_field(:logo),
                       helptext: 'recommended minimum size 100x100' ) %><br/>

  <div class="field">
    <%= f.label :slug, 'Organization ID*' %>
    <span class="helptext">
      Short ID, which is part of all urls. Good ID is short but descriptive, like <i>hy</i> or <i>aalto</i>.
    </span>
    <br>
    Preview:
    <span id="organization-id-preview-url">
       <%= organizations_url %>/<span id="organization-id-preview-slug"></span>
    </span>
    <br/>
    <%= f.text_field :slug, onkeyup: 'Organizations.updateSlugPreview(this.value)' %>
  </div>

  <p>Fields with (*) are required</p>
  <div class="actions">
    <%= f.submit 'Request organization' %>
  </div>
<% end %>
