<h1><%= @organization.name %></h1>

<div>
  <%= render template: 'courses/index'  %>
</div>

<% if current_user.administrator? %>
  <p>
    <strong>Organization ID:</strong>
    <%= @organization.slug %>
  </p>

  <p>
    <strong>Requested by:</strong>
    <% requested_by = @organization.teachers.first %>
    <%= link_to requested_by.username, participant_path(requested_by) %>
  </p>

  <p>
    <strong>Requested at:</strong>
    <%= @organization.created_at %>
  </p>

  <p>
    <strong>Accepted at:</strong>
    <%= @organization.accepted_at %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= @organization.information %>
  </p>

  <%= link_to 'Edit organization', edit_organization_path(@organization) %>
  <br/><br/>
<% end %>

<%# --- correct position for this will be done later ---%>
<% if can? :toggle_hidden, @organization %>
  <p>
    <strong><%= "#{@organization.hidden ? 'Status hidden:' : 'Status visible:'}" %></strong>
    <%= link_to "#{@organization.hidden ? 'make organization visible' : 'hide organization'}", toggle_hidden_organization_path(@organization),
                method: :post, class: "btn btn-mini #{@organization.hidden ? 'btn-info' : 'btn-danger'}" %>
  </p>
  <br/>
<% end %>
<%# -----------------------%>

<% if @organization.acceptance_pending? %>
  <p>
    <strong>This organization needs to be accepted by an administrator.</strong>
  </p>
<% end %>

<% if @organization.rejected? %>
  <p>
    <strong>
      This organization was rejected by an administrator. Reason:
      <i>
        <%= @organization.rejected_reason %>
      </i>
    </strong>
  </p>
<% end %>

<% if can? :teach, @organization %>
  <br/>
  <%= link_to 'Show teachers in this organization', organization_teachers_path(@organization) %>
  <br/><br/>
  <%= link_to 'Create New Course from template', organization_course_templates_path(@organization), class: "btn btn-mini btn-warning" %>
<% end %>
