<h1>
  <%= @organization.name %>
  <%= image_tag @organization.logo.url(:small_logo) if @organization.logo? %>
</h1>

<p>
  <%= @organization.information %>
</p>

<% unless @organization.website.blank? %>
  <p>
    <strong>Website:</strong> <%= link_to @organization.website, @organization.website, target: "_blank" %>
  </p>
<% end %>

<% if !@organization.verified? && can?(:teach, @organization) %>
    <p>
      <strong>
        This organization is not verified yet by an administrator. Courses are fully functional, but some
        features, like model answers, are not enabled.
      </strong>
      <% if can? :view, :unverified_organizations %>
          <br>
          <%= link_to 'Verify', verify_organization_path(@organization), method: :post, class: 'btn btn-success' %>
          <%= link_to 'Disable', disable_reason_input_organization_path(@organization), class: 'btn btn-danger' %>
      <% end %>
    </p>
<% end %>

<% if current_user.administrator? %>
  <hr>
  <p>
    <strong>Organization ID:</strong>
    <%= @organization.slug %>
  </p>
  <p>
    <strong>Created by:</strong>
    <% created_by = @organization.creator %>
    <%= link_to created_by.username, participant_path(created_by) unless created_by.nil? %>
  </p>
  <p>
    <strong>Created at:</strong>
    <%= @organization.created_at %>
  </p>
  <p>
    <strong>Contact person:</strong>
    <%= @organization.contact_information %>
  </p>
  <p>
    <strong>Contact phone:</strong>
    <%= @organization.phone %>
  </p>
  <p>
    <strong>Contact email:</strong>
    <%= mail_to @organization.email %>
  </p>


  <% if @organization.verified %>
    <p>
      <strong>Verified at:</strong>
      <%= @organization.verified_at %>
    </p>
  <% end %>

  <hr>

<% end %>

<% if can? :toggle_visibility, @organization %>
  <p>
    <strong><%= "#{@organization.hidden ? 'Status hidden:' : 'Status visible:'}" %></strong>
    <%= link_to "#{@organization.hidden ? 'make organization visible' : 'hide organization'}", toggle_visibility_organization_path(@organization),
                method: :post, class: "btn btn-mini #{@organization.hidden ? 'btn-info' : 'btn-danger'}" %>
  </p>
<% end %>

<% if can? :view_statistics, @organization %>
  <p>
    <%= link_to 'Show statistics', organization_stats_path(@organization) %>
  </p>
<% end %>

<% if @organization.disabled? %>
  <p>
    <strong>This organization is disabled by an administrator. Reason:</strong>
    <i><%= @organization.disabled_reason %></i>
  </p>
<% end %>

<% if can? :edit, @organization %>
    <br/>
    <%= link_to 'Edit organization', edit_setup_organization_path(@organization) %>
<% end %>

<% if can? :view_participant_list, @organization%>
    <br/>
    <%= link_to 'List of registered users', organization_participants_path(@organization) %>
<% end %>

<% if can? :teach, @organization %>
  <br/>
  <%= link_to 'Show teachers in this organization', organization_teachers_path(@organization) %>
  <br/>
<% end %>

<% unless @organization.acceptance_pending? %>
  <% unless @my_assisted_courses.empty? %>
    <%=
        render partial: 'courses/list_my_assisted_courses',
               locals: { courses: @my_assisted_courses, title: 'Courses I assist' }
    %>
  <% end %>

  <% unless @my_courses.empty? %>
    <%=
        render partial: 'courses/list_my_courses',
               locals: { courses: @my_courses, title: 'My courses', percent_completed: @my_courses_percent_completed }
    %>
  <% end %>

  <% all_courses_title = @my_courses.empty? && @my_assisted_courses.empty? ? 'Courses' : 'All courses' %>

  <div>
    <%= render template: 'courses/index', locals: { title: all_courses_title }  %>
  </div>
<% end %>