<h1><%= @organization.name %></h1>

<% if current_user.administrator? %>
  <p>
    <strong>Organization URL:</strong>
    <%= @organization.slug %>
  </p>

  <p>
    <strong>Requested by:</strong>
    <%= @organization.users.first.username %>
  </p>

  <p>
    <strong>Created at:</strong>
    <%= @organization.created_at %>
  </p>

  <p>
    <strong>Accepted at:</strong>
    <%= @organization.accepted_at %>
  </p>

  <p>
    <strong>Information:</strong>
    <%= @organization.information %>
  </p>

  <%= link_to 'Edit organization', edit_organization_path(@organization) %>
<% end %>

<% if @organization.acceptance_pending %>
  <p>
    <strong>This organization needs to be accepted by an administrator.</strong>
  </p>
<% end %>

<% if current_user.administrator? || current_user.teacher?(@organization) %>
  <br/>
  <%= link_to 'Show teachers in this organization', organization_teachers_path(@organization) %>
<% end %>

<% if current_user.teacher?(@organization) %>
    <br/>
    <%= link_to 'Create course from template', course_templates_organization_path(@organization) %>
<% end %>