<div class="alternative-format-links">
  [<%= link_to 'plain text', organization_emails_path(format: :txt) %> |
  <%= link_to 'csv', organization_emails_path(format: :csv) %>]
</div>
<h1>Students in <%= @course.title %></h1>

<table class="table table-striped">
  <tr>
    <th>
      Username
    </th>
    <th>
      Email
    </th>
  </tr>
  <% @students.each do |student| %>
    <tr>
      <td>
        <%= link_to student.username, participant_path(student) %>
      </td>
      <td>
        <%= mail_to(student.email) %>
      </td>
    </tr>
  <% end %>
</table>