<h1>Listing course_templates</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Title</th>
      <th>Description</th>
      <th>Material url</th>
      <th>Source url</th>
      <th>Expires at</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_templates.each do |course_template| %>
      <tr>
        <td><%= course_template.name %></td>
        <td><%= course_template.title %></td>
        <td><%= course_template.description %></td>
        <td><%= course_template.material_url %></td>
        <td><%= course_template.source_url %></td>
        <td><%= course_template.expires_at %></td>
        <td><%= link_to 'Edit', edit_course_template_path(course_template) %></td>
        <td><%= link_to 'Destroy', course_template, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td>
          <% if course_template.hidden %>
            <%= link_to 'unhide', toggle_hidden_course_template_path(course_template), method: :post, class: "btn btn-mini btn-danger" %>
          <% else %>
            <%= link_to 'hide', toggle_hidden_course_template_path(course_template), method: :post, class: "btn btn-mini btn-success" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Course template', new_course_template_path %>
