<h1>New Course</h1>

<h3>Create course from template</h3>

<p class="help">
  Course can be created by cloning it from template, which are offered by TMC. Template includes fully usable
  course with exercises, and you can customize your course details and deadlines individually.
</p>

<table class='table table-striped'>
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Material url</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @course_templates.each do |course_template| %>
      <tr>
        <td><%= course_template.title %></td>
        <td><%= course_template.description %></td>
        <td><%= link_to course_template.material_url, course_template.material_url unless course_template.material_url.nil? %></td>
        <td><%= link_to 'Create Course', prepare_course_organization_courses_path(@organization, course_template), class: "btn btn-mini btn-primary" %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br/>

<% if can? :create, :custom_course %>

  <h3>Create custom course</h3>

  <p class="help">
    You can also make your completely own course. Then you need to maintain your exercises and store them in
    git repository. Check details from the manual.
  </p>

  <%= link_to 'Create New Custom Course', new_organization_course_path(@organization), class: "btn btn-mini btn-warning" %>

<% end %>