
<h1>Code review, submission <%= @submission.id %></h1>

<% if @submission.reviews.empty? %>
  Code not reviewed yet.
<% else %>
  <section>
    <% for review in @submission.reviews %>
      <div class="code-review">
        <% if review.reviewer %>
          <div class="reviewer">Review by <span class="reviewer"><%= review.reviewer.username %></span></div>
        <% end %>
        <div class="review-body"><%= simple_format(review.review_body) %></div>
        <div class="buttons">
          <% if can?(:update, review) %>
            <button class="edit-review"><span class="ui-icon ui-icon-pencil"></span>&nbsp;Edit</button>
          <% end %>
          <% if can?(:delete, review) %>
            <button class="delete-review" data-confirm="Really delete this review?" data-method="delete"><span class="ui-icon ui-icon-close"></span>&nbsp;Delete</button>
          <% end %>
        </div>
        <div class="ui-helper-clearfix"></div>
      </div>
    <% end %>
  </section>
<% end %>

<% if @new_review %>
  <section>
    <div id="review-form-dialog" class="ui-helper-hidden">
      <div id="review-form">
        <%= form_for @new_review, :url => submission_reviews_path(@submission) do |f| %>
          <%= f.text_area :review_body, :rows => nil, :cols => nil, :placeholder => 'Write a code review here' %>
          <div class="buttons">
            <button type="submit"><span class="ui-icon ui-icon-disk"></span>&nbsp;Save review</button>
          </div>
        <% end %>
      </div>
    </div>

    <% new_button_text = if @submission.reviews.count == 0 then 'Start code review' else 'Add another code review' end %>
    <button id="new-review"><span class="ui-icon ui-icon-document"></span>&nbsp;<%= new_button_text %></button>

    <div id="review-form-reopen-handle" class="ui-helper-hidden">
      <button>
        <span class="ui-icon ui-icon-newwin"></span>&nbsp;Code review
      </button>
    </div>
  </section>
<% end %>

<%= render :partial => 'files/files', :locals => {:files => @files} %>

<script type="text/javascript">
  $(document).ready(function() {
    var firstOpen = true;
    var $newReviewButton = $('#new-review');
    var $reopenHandle = $('#review-form-reopen-handle');
    var $dialog = $('#review-form-dialog');

    function doTransferEffect($from, $to, callback) {
      $from.effect('transfer', {to: $to, className: 'transfer-effect'}, 500, callback);
    }

    function openDialog() {
      $dialog.dialog({
        title: 'Code review',
        width: 450,
        height: 250,
        dialogClass: 'big-drop-shadow',
        beforeClose: function() {
          $reopenHandle.show();
          doTransferEffect($dialog, $reopenHandle);
        }
      });

      $('#ui-dialog-title-review-form-dialog').
              parent().
              find('.ui-icon-closethick').
              removeClass('ui-icon-closethick').
              addClass('ui-icon-minusthick');

      if (firstOpen) {
        doTransferEffect($newReviewButton, $dialog, function() {
          $newReviewButton.hide();
        });
      } else {
        doTransferEffect($reopenHandle, $dialog, function() {
          $reopenHandle.hide();
        });
      }

      firstOpen = false;
    }

    $newReviewButton.click(openDialog);
    $reopenHandle.find('button').
            addClass('medium-drop-shadow').
            button().
            click(openDialog);
  });
</script>
