<table class="exercise-list table table-hover table-condensed">
  <thead>
    <tr>
      <th>
        Exercise
      </th>
      <th>
        Status
      </th>
      <th>
        Deadline
      </th>
      <th>
        Download exercise
      </th>
    </tr>
  </thead>
  <tbody>
    <% exercises.each do |exercise| %>
      <tr>
        <td>
          <%= link_to exercise.name, exercise %>
          <%
            notes = []
            notes << "hidden" if exercise.hidden?
            notes << "expired" if exercise.expired_for?(current_user)
            notes << "locked" unless exercise.unlocked_for?(current_user)
          %>
          <% unless notes.empty? %>
            (<%= notes.join(', ') %>)
          <% end %>
         </td>
        <td class="exercise-status">
          <% if green(completion_status[exercise.id]) > 0 %>
          <div class="green" style="width: <%=green(completion_status[exercise.id])%>px;">
            <span>
              <%= "completed" if completion_status[exercise.id] == 100 %>
            </span>
          </div>
          <% end %>
          <% if red(completion_status[exercise.id]) > 0 %>
            <div class="red" style="width: <%=red(completion_status[exercise.id])%>px"></div>
          <% end %>
        </td>
        </td>
          <td>
            <% dl = exercise.deadline_for(current_user) %>
            <% if dl %>
              <%= dl.strftime("%d.%m.%Y %H:%M") %>
            <% end %>
          </td>
          <td>
            <%= link_to 'zip', exercise_zip_url(exercise) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= use_datatables('table.exercise-list', :bPaginate => false) %>
