<table class="exercise-list">
  <thead>
    <tr>
      <th>
        Exercise
      </th>
      <th>
        Deadline
      </th>
      <th>
        Download exercise
      </th>
    </tr>
  </thead>
  <tbody>
    <% exercises.each do |exercise| %>
      <tr>
        <td>
          <%= link_to exercise.name, [course, exercise] %>
          <%
            notes = []
            notes << "hidden" if exercise.hidden?
            notes << "expired" if exercise.expired?
          %>
          <% unless notes.empty? %>
            (<%= notes.join(', ') %>)
          <% end %>
          </td>
          <td>
            <% if exercise.deadline %>
              <%= exercise.deadline.strftime("%d.%m.%Y %H:%M") %>
            <% end %>
          </td>
          <td>
            <%= link_to 'zip', exercise_zip_url(exercise) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= use_datatables('table.exercise-list', :bPaginate => false) %>

