
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', @exercise.exercise_file %></li>
</ul>

<h2>Submit answer</h2>

<section>
  <%= render 'exercise_returns/form' %>
</section>


<h2>Submissions</h2>

<section>
  <% if !@exercise_returns.empty? %>
    <table>
      <tr>
        <th>Course</th>
        <th>Exercise</th>
        <th>Student</th>
        <th>Returned file</th>
        <th></th>
      </tr>

    <% @exercise_returns.each do |exercise_return| %> 

      <tr>
        <td><%= @course.name %></td>
        <td><%= @exercise.name %></td>
        <td><%= exercise_return.student_id %></td>
          <% if signed_in? %>
            <td>
              <%= link_to("#{@exercise.name}-#{exercise_return.id}.zip",
                    "#{course_exercise_return_path(@course, @exercise, exercise_return)}.zip") %> 
            </td>
            <td>
             <%= form_tag test_suite_runs_path, :id => "run-ex-return-#{exercise_return.id}", :method => :post do %>
                <%= hidden_field_tag 'test_suite_run[exercise_return_id]', exercise_return.id %>
                <a href="#" onclick="javascript: document.getElementById('run-ex-return-<%=exercise_return.id%>').submit()">Run</a>
              <% end %>
            </td>
            <td>
              <%= link_to 'Destroy', course_exercise_return_path(@course, @exercise, exercise_return), :confirm => 'Are you sure?', :method => :delete %>
            </td>
          <% else %>
             <td>
              <%= "#{@exercise.name}-#{exercise_return.id}.zip" %>
             </td>
          <% end %>
       </tr>
    <% end %>
    </table>
  <% else %>
    <p>No submissions yet.</p>
  <% end %>
</section>

<%= link_to 'Back', course_exercises_path(@course) %>

