
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', exercise_zip_url(@exercise) %></li>
  <% if @exercise.hidden? %>
    <li>This exercise is currently hidden</li>
  <% end %>
  <% if @exercise.deadline %>
    <li>Deadline: <%= @exercise.deadline %><% if @exercise.expired? %> (expired)<% end %></li>
  <% end %>
  <% if @exercise.solution && @exercise.solution.visible_to?(current_user) %>
    <li><%= link_to 'View suggested solution', exercise_solution_path(@exercise) %></li>
  <% end %>
</ul>

<% if @exercise.submittable_by?(current_user) %>
  <h2>Submit answer</h2>

  <section>
    <%= render :partial => 'submissions/form', :locals => { :submission => @new_submission } %>
  </section>
<% end %>


<% if signed_in? %>
  <h2>Submissions</h2>

  <section>
    <% if !@submissions.empty? %>
      <%=
        render :partial => 'submissions/list', :locals => {
          :submissions => @submissions
        }
      %>
    <% else %>
      <p>No submissions yet.</p>
    <% end %>
  </section>
<% end %>

<% if current_user.administrator? && !@submissions.empty? %>
  <section>
    <%
      if @submissions.count > 10
        confirm_msg = "Really rerun all #{@submissions.count} submissions?\nIt may take a while."
      else
        confirm_msg = nil
      end
    %>
    <%= button_to 'Rerun all submissions', exercise_update_submissions_path(@exercise), :method => :put, :confirm => confirm_msg %>
    (may add points; never deletes points; may take a long time)
  </section>
<% end %>
