
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', exercise_zip_url(@exercise) %></li>

  <% if @exercise.hidden? %>
    <li>This exercise is currently hidden</li>
  <% end %>

  <% unlock_time = @exercise.time_unlocked_for(current_user) %>
  <% if unlock_time %>
    <li>Was unlocked at <%= unlock_time %></li>
  <% elsif @exercise.unlockable_for?(current_user) %>
    <li>
      <%= link_to 'Waiting for unlock', course_unlock_path(@course) %>
    </li>
  <% else %>
    <li>
      Not yet unlocked.
      <%= @exercise.unlock_spec_obj.description_for(current_user) %>
    </li>
  <% end %>
  <% if current_user.administrator? && !@exercise.unlock_spec_obj.universal_descriptions.empty? %>
    <li>
      Unlock condition:
      <%= @exercise.unlock_spec_obj.universal_descriptions.join(' and ') %>.
    </li>
    <% if @exercise.requires_explicit_unlock? %>
      <li>Must be unlocked manually by the student because the deadline depends on the unlock time.</li>
    <% end %>
  <% end %>

  <% if @exercise.deadline_for(current_user) %>
    <li>
      Deadline: <%= @exercise.deadline_for(current_user) %>
      <% if @exercise.deadline_spec_obj.universal_description %>
        (<%= @exercise.deadline_spec_obj.universal_description %>)
      <% end %>
      <% if @exercise.expired_for?(current_user) %>
        <% if current_user.administrator? %>
          (expired (if you weren't an admin))
        <% else %>
          (expired)
        <% end %>
      <% end %>
    </li>
  <% end %>

  <% if !@exercise.returnable? %>
    <li>The exercise is not returnable.</li>
  <% end %>

  <% if @exercise.solution && @exercise.solution.visible_to?(current_user) %>
    <li><%= link_to 'View suggested solution', exercise_solution_path(@exercise) %></li>
  <% end %>

  <% if can?(:read, FeedbackAnswer) %>
    <li><%= link_to 'View feedback', exercise_feedback_answers_path(@exercise) %></li>
  <% end %>
</ul>

<% if @exercise.submittable_by?(current_user) %>
<div class="row">
  <h2>Submit answer</h2>
  <div class="span11">
    <%= render :partial => 'submissions/form', :locals => { :submission => @new_submission } %>
  </div>
  </div>
<% end %>


<% if signed_in? %>
<div class="row">
  <h2>Submissions</h2>
  <div class="span11">
    <% if !@submissions.empty? %>
      <%= show_submission_list(@submissions, :show_exercise_column => false, :show_awarded_points => true) %>
    <% else %>
      <p>No submissions yet.</p>
    <% end %>
  </div>
</div>
<% end %>

<% if current_user.administrator? && !@submissions.empty? %>
    <div class="row">
    <div class="span10">
    <%
      if @submissions.count > 10
        confirm_msg = "Really rerun all #{@submissions.count} submissions?\nIt may take a while."
      else
        confirm_msg = nil
      end
    %>
    <br>
    <%= button_to 'Rerun all submissions', exercise_update_submissions_path(@exercise), :method => :put, :confirm => confirm_msg, class: "btn btn-danger"%>
    (may add points; never deletes points; may take a long time)
  </div>
  </div>
<% end %>
