
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', @exercise.zip_url %></li>
  <% if @exercise.hidden? %>
    <li>This exercise is currently hidden</li>
  <% end %>
  <% if @exercise.deadline %>
    <li>Deadline: <%= @exercise.deadline %><% if @exercise.expired? %> (expired)<% end %></li>
  <% end %>
</ul>

<% if @exercise.available_to?(current_user) %>
  <h2>Submit answer</h2>

  <section>
    <%= render :partial => 'submissions/form', :locals => { :submission => @new_submission } %>
  </section>
<% end %>


<% if signed_in? %>
  <h2>Submissions</h2>

  <section>
    <% if !@submissions.empty? %>
      <%=
        render :partial => 'submissions/list', :locals => {
          :submissions => @submissions
        }
      %>
    <% else %>
      <p>No submissions yet.</p>
    <% end %>
  </section>
<% end %>

