
<h1><%= @exercise.name %></h1>

<ul>
  <li><%= link_to 'Download project template (zip)', @exercise.exercise_file %></li>
</ul>

<h2>Submit answer</h2>

<section>
  <%= render 'submissions/form' %>
</section>


<% if signed_in? %>
  <h2>Submissions</h2>

  <section>
    <% if !@submissions.empty? %>
      <table class="submissions">
        <thead>
          <th>Exercise</th>
          <th>Student</th>
          <th>Returned file</th>
          <th>Status</th>
          <th></th>
        </thead>
        <tbody>
          <% @submissions.each do |submission| %> 
            <tr>
              <td><%= @exercise.name %></td>
              <td><%= submission.user.login %></td>
              <td>
                <%= link_to("#{@exercise.name}-#{submission.id}.zip",
                      "#{course_exercise_submission_path(@course, @exercise, submission)}.zip") %> 
              </td>
              <td>
                <%= submission_status(submission) %>
              </td>
              <td>
                <%= link_to 'Destroy', course_exercise_submission_path(@course, @exercise, submission), :confirm => 'Are you sure?', :method => :delete %>
              </td>
             </tr>
          <% end %>
        </tbody>
      </table>
      
      <%= use_datatables('table.submissions') %>
    <% else %>
      <p>No submissions yet.</p>
    <% end %>
  </section>
<% end %>

<%= link_to 'Back', course_exercises_path(@course) %>

