<!DOCTYPE html>
<html>
<head>
  <title>SandboxServer</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>

<body>
<center>
<TABLE border="0" width="1024" style="border-collapse: collapse" bgcolor="#FFFFFF">
  <tr class="trTop">
      <td align ="left">
        <h1>HELSINKI UNIVERSITY</h1>
        <h2>Department of Computer Science</h2>
      </td>
      <td class="tdLogin" align="right"><%= render 'sessions/login_menu' %></td>
    </tr>
    <tr>
      <td class="tdNav" colspan="2"> 
            
        <%= link_to 'Courses', courses_path %>
        
        <% if signed_in? %>
          <% if @course and @course.valid? %>
            | <%= link_to "Latest points for #{@course.name}",
            points_course_path(@course) %> 
            | <%= link_to @course.name, course_exercises_path(@course) %>
          <% end %>
        <% else %> 
          <% if @course != nil %>  
            <% if @exercise == nil %>
              &raquo <%= @course.name %>
            <% else %>
              &raquo <%= link_to @course.name, course_exercises_path %> 
            <% end %>
          <% end %>
        
        <% end %>
       
          
        <% if @exercise %> 
          &raquo <%= @exercise.name %> 
        <% end %>
        
        
        
        
      </td>
    </tr>
    <tr>
      <td class="tdYield" colspan="2">
    
           
        <%= yield %>
    
      </td>
    </tr>
  </table>
</center>
 
</body>
</html>

