<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'jquery.dataTables.min' %>
  <%= stylesheet_link_tag '/themes/smoothness/jquery-ui-1.8.14.custom.css' %>
  <% if Rails.env == 'test' %>
    <%= stylesheet_link_tag 'highlighting' %>
  <% end %>
  <%= csrf_meta_tag %>
  <title>Test My Code server</title>
</head>

<body>
  <div id="everything">
    <div id="title-area">
      <div id="titles">
        <h1><%= link_to 'TestMyCode server', root_path %></h1>
        <% unless SiteSetting.value(:site_subtitle).blank? %>
        <div class="branding"><%= raw(SiteSetting.value(:site_subtitle)) %></div>
        <% end %>
      </div>

      <div id="login">
        <%= render 'sessions/login_form' %>
        <% if !signed_in? %>
          <%= link_to 'Sign up', new_user_path, :id => 'registration-link' %>
        <% end %>
      </div>
    </div>

    <div id="navigation-area">
      <%= breadcrumb %>
    </div>

    <div id="content-area">
      <% for msg_type in [:notice, :warning, :error, :alert] %>
        <% if flash[msg_type] %>
          <div class="flash <%= msg_type %>"><%= raw(flash[msg_type]) %></div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>

