<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs' %>
  <%= csrf_meta_tag %>
  <title>Test My Code server</title>
</head>

<body>
  <div id="everything">
    <div id="title-area">
      <div id="titles">
        <h1>HELSINKI UNIVERSITY</h1>
        <h2>Department of Computer Science</h2>
      </div>
    
      <div id="login">
        <%= render 'sessions/login_form' %>
      </div>
    </div>
          
    <div id="navigation-area">
      <%= link_to 'Courses', courses_path %>
      
      <!-- needs cleanup -->
      <% if signed_in? %>
        <% if @course and @course.valid? %>
          | <%= link_to "Latest points for #{@course.name}",
          points_course_path(@course) %> 
          | <%= link_to @course.name, course_exercises_path(@course) %>
        <% end %>
      <% else %> 
        <% if @course != nil %>  
          <% if @exercise == nil %>
            &raquo; <%= @course.name %>
          <% else %>
            &raquo; <%= link_to @course.name, course_exercises_path %> 
          <% end %>
        <% end %>
      
      <% end %>
     
        
      <% if @exercise %> 
        &raquo; <%= @exercise.name %> 
      <% end %>
    </div>

    <div id="content-area">
      <% for msg_type in [:notice, :warning, :error, :alert] %>
        <% if flash[msg_type] %>
          <div class="flash <%= msg_type %>"><%= flash[msg_type] %></div>
        <% end %>
      <% end %>
      
      <%= yield %>
    </div>
  </div>
</body>
</html>

