!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "TestMyCode"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = csrf_meta_tags
    = javascript_include_tag('underscore-min.js', 'jquery.min.js', 'jquery_ujs', 'jquery-ui')
    = javascript_include_tag('jquery.dataTables.min', 'jquery.cookie', 'misc.js', 'naturalSort.js')
    - if Rails.env == 'test'
      = stylesheet_link_tag 'highlighting'
    = render "layouts/metadata"
    = yield(:head)
    = stylesheet_link_tag '/themes/smoothness/jquery-ui-1.8.23.custom.css'
    = stylesheet_link_tag "bootstrap.min.css"
    = stylesheet_link_tag 'main'
  %body.default
    .navbar.navbar-fixed-top.navbar-inverse
      .navbar-inner
        .container
          %a.btn.btn-navbar#collapse-toggle{:data => {:toggle => 'collapse', :target => '.nav-collapse'}}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
            %span{class: 'icon-bar'}
          - title_extras = '<span class="small"><br>' + raw(SiteSetting.value(:site_subtitle)) + '</span>' unless SiteSetting.value(:site_subtitle).blank?
          - title = 'TestMyCode server'
          - title += raw(title_extras) unless title_extras.blank?
          =link_to raw(title), root_path, class: 'brand'
          .collapse.nav-collapse
            =render 'sessions/login_form'
            %ul.nav.pull-right
              - if signed_in?
                %li= link_to 'My account', user_path
                %li= link_to 'My stats', participant_path(current_user)
                %li= link_to 'Sign out', signout_path, :method => :delete, :id => 'logout-link'
              - elsif can? :create, User
                %li= link_to 'Sign up', new_user_path
                %li= link_to 'Forgot password', new_password_reset_key_path
    #everything
      #content-area.container.container-fluid.well-large.well.well-white
        #breadcrumb
          .row-fluid
            .span12
              =render 'twitter-bootstrap/breadcrumbs'
        - if @show_page_presence
          #page-presence
        = bootstrap_flash
        = yield



    = javascript_include_tag(comet_js_url('org/cometd.js'), comet_js_url('jquery/jquery.cometd.js'))
    = javascript_include_tag('comet_connection.js', 'review_notifications.js', 'bootstrap.min.js')
    - if @show_page_presence
      = javascript_include_tag 'page_presence.js'
