<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'main' %>
  <%= javascript_include_tag 'jquery', 'jquery_ujs', 'jquery-ui', 'jquery.dataTables.min', 'naturalSort.js', 'jquery.dropshadow.js' %>
  <%= stylesheet_link_tag '/themes/smoothness/jquery-ui-1.8.23.custom.css' %>
  <% if Rails.env == 'test' %>
    <%= stylesheet_link_tag 'highlighting' %>
  <% end %>
  <%= csrf_meta_tag %>
  <title>Test My Code server</title>
</head>

<body class="default">
  <div id="everything">
    <div id="title-area">
      <div id="titles">
        <h1><%= link_to 'TestMyCode server', root_path %></h1>
        <% unless SiteSetting.value(:site_subtitle).blank? %>
        <div class="branding"><%= raw(SiteSetting.value(:site_subtitle)) %></div>
        <% end %>
      </div>

      <div id="login">
        <%= render 'sessions/login_form' %>
        <div id="account-details">
          <% if signed_in? %>
            <%= link_to 'User account', user_path %>
          <% else %>
            <% if can? :create, User %>
              <%= link_to 'Sign up', new_user_path %><br />
            <% end %>
            <%= link_to 'Forgot password', new_password_reset_key_path %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="breadcrumb">
      <%= breadcrumb %>
    </div>

    <div id="content-area">
      <% for msg_type in [:success, :notice, :warning, :error, :alert] %>
        <% if flash[msg_type] %>
          <div class="flash <%= msg_type %>"><%= raw(flash[msg_type]) %></div>
        <% end %>
      <% end %>

      <%= yield %>
    </div>
  </div>
</body>
</html>

