<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <%= stylesheet_link_tag 'application-bare', media: 'all' %>
  <%= javascript_include_tag 'application-bare' %>
  <%= stylesheet_link_tag 'application-test', media: 'all' if Rails.env == 'test' %>
  <%= csrf_meta_tag %>
  <title>Test My Code server</title>
</head>

<body class="bare">
  <div id="content-area">
    <% for msg_type in [:notice, :warning, :error, :alert] %>
      <% if flash[msg_type] %>
        <div class="flash <%= msg_type %>"><%= raw(flash[msg_type]) %></div>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>
</html>

